.card {
  max-width: 100%;
  display: flex;
  border-radius: var(--radius);
  overflow: hidden;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: getColor('background');

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  .card-image {
    order: 1;
    display: block;
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
  }

  .card-content {
    order: 2;
    padding: $spacing-5;
    flex-grow: 1;

    @include mobile {
      padding: $spacing-4;
    }
  }

  .card-footer {
    border-top: 1px solid getColor('neutral');
  }

  .mention {
    position: absolute;
    bottom: 5px;
    font-size: 9px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .media:not(:last-child) {
    margin-bottom: 7.5px;
  }

  &.is-strong {
    .title {
      font-family: $family-serif;
      font-size: 24px !important;
    }
  }

  &.is-flat {
    box-shadow: none;
    border: var(--border);

    .card-content {
      padding-left: 20px;
      padding-right: 20px;

      @include desktop {
        padding-left: $spacing-5;
        padding-right: $spacing-5;
      }
    }
  }

  &.is-active {
    outline: var(--border-active);

    .card-content {

      padding: 22px;
      @include mobile {
        padding: 14px;
      }
    }
  }

  &.is-horizontal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;

      &.is-vcentered {
        align-items: stretch;
      }
    }

    .card-image {
      max-width: 100%;

      @include tablet {
        img {
          object-fit: cover;
          height: 100%;
        }

        width: 20%;
        max-width: 20%;

        + .card-content {
          flex-basis: 80%;
        }

        &.is-medium,
        &.is-1 {
          width: 30%;
          max-width: 30%;

          + .card-content {
            flex-basis: 70%;
          }
        }

        &.is-large,
        &.is-2 {
          width: 40%;
          max-width: 40%;

          + .card-content {
            flex-basis: 60%;
          }
        }

        &.is-3 {
          width: 50%;
          max-width: 50%;

          + .card-content {
            flex-basis: 50%;
          }
        }

        &.is-4 {
          width: 60%;
          max-width: 60%;

          + .card-content {
            flex-basis: 40%;
          }
        }
      }

      .image {
        height: 100%;

        @include desktop {
          img {
            height: auto;
            min-height: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    .card-content {
      padding-left: 20px;
      padding-right: 20px;

      @include desktop {
        padding-left: $spacing-5;
        padding-right: $spacing-5;
      }
    }

    .card-footer {
      flex-basis: 100%;
      padding: 15px 20px;
    }
  }

  &.is-floating {
    box-shadow: none;
    background: transparent;

    .card-image .image img {
      border-radius: var(--radius);
    }

    .card-content {
      padding-left: 0;
      padding-right: 0;
    }

    &.is-horizontal {
      .card-content {
        padding-left: 0;
        padding-right: 0;

        @include tablet {
          padding-left: 20px;
          padding-right: 20px;
        }

        @include desktop {
          padding-left: $spacing-5;
          padding-right: $spacing-5;
        }
      }
    }
  }

  &.is-inverted,
  &.is-reversed {
    .card-image {
      order: 1;
    }

    &.is-horizontal {
      .card-image {
        order: 1;
      }
    }
  }
}
