$hero-padding-y: 20px;
$hero-padding-x: $hero-padding-y;
$hero-padding-small-y: $hero-padding-y;
$hero-padding-small-x: $hero-padding-y;
$hero-padding-medium-y: 40px;
$hero-padding-medium-x: $hero-padding-y;
$hero-padding-large-y: 60px;
$hero-padding-large-x: $hero-padding-y;

$hero-padding-desktop-y: 30px;
$hero-padding-desktop-x: $hero-padding-desktop-y;
$hero-padding-desktop-small-y: $hero-padding-desktop-y;
$hero-padding-desktop-small-x: $hero-padding-desktop-y;
$hero-padding-desktop-medium-y: 60px;
$hero-padding-desktop-medium-x: $hero-padding-desktop-y;
$hero-padding-desktop-large-y: 90px;
$hero-padding-desktop-large-x: $hero-padding-desktop-y;

$overlap: 30px;
$overlap-desktop: 30px;

.hero {
  align-items: stretch;
  background-color: getColor('background');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;

    @include desktop {
      padding: 30px 20px;
    }

    > .container {
      flex: 1;
      flex-basis: 100%;
    }

    .title {
      font-size: 24px;

      @include desktop {
        font-size: 36px;
      }
    }
  }

  &.is-overlapped {
    .hero-body {
      padding-bottom: 50px;
    }

    + .section {
      @include mobile {
        margin-left: -$hero-padding-y;
        margin-right: -$hero-padding-y;

        .box {
          box-shadow: none;
//@todo need confirmation
          border-radius: 24px 24px 0 0;
          overflow: hidden;
        }
      }

      > .container {
        margin-top: -$hero-padding-y - $overlap;

        @include desktop {
          margin-top: -$hero-padding-desktop-y - $overlap-desktop;
        }
      }

      &.is-small {
        > .container {
          margin-top: -$hero-padding-small-y - $overlap;

          @include desktop {
            margin-top: -$hero-padding-desktop-small-y  - $overlap-desktop;
          }
        }
      }

      &.is-medium {
        > .container {
          margin-top: -$hero-padding-medium-y - $overlap;

          @include desktop {
            margin-top: -$hero-padding-desktop-medium-y  - $overlap-desktop;
          }
        }
      }

      &.is-large {
        > .container {
          margin-top: -$hero-padding-large-y - $overlap;

          @include desktop {
            margin-top: -$hero-padding-desktop-large-y - $overlap-desktop;
          }
        }
      }
    }
  }

  &.has-background {
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.has-background {
    .hero-body {
      text-align: center;
      padding: 100px 20px;

      @include desktop {
        text-align: left;
        padding-top: 80px;
        padding-bottom: 80px;
      }
    }

    &.is-overlapped {
      .hero-body {
        padding: 30px 20px 60px;

        @include desktop {
          padding: 60px 20px;
        }
      }
    }
  }

  &.has-pattern-dark {
    @include pattern-dark(105%, 50%, 35%);
  }
}
