@use "../base/color";
@use "../utilities/functions";
@use "../utilities/mixins";
@use "../utilities/spacing";

.section {
  padding: spacing.$spacing-6 spacing.$spacing-4;

  @include mixins.desktop {
    padding: spacing.$spacing-8 spacing.$spacing-5;
  }

  &.has-background {
    background-size: cover;
    background-position: center;
  }

  &.has-overlap > .container {
    margin-top: -(spacing.$spacing-6) - spacing.$spacing-4;

    @include mixins.desktop {
      margin-top: -(spacing.$spacing-8) - spacing.$spacing-4;
    }
  }

  &.is-info {
    background-color: color.getColor('info');
    color: color.getColor('background');
  }

  &.has-overlay {
    position: relative;
    z-index: functions.zindex('void');
    color: color.getColor('background');

    &::before {
      @include mixins.overlay;
      content: '';
      z-index: functions.zindex('subzero');
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &.has-pattern-light {
    @include mixins.pattern-light(70%, 180px, -30px);
  }

  &.has-pattern-dark {
    @include mixins.pattern-dark(120%, 260px, -30%);
  }
}
