.section {
  padding: $spacing-6 $spacing-5;

  @include desktop {
    padding: $spacing-8 $spacing-5;
  }

  &.has-overlap > .container {
    margin-top: -$spacing-6 - $spacing-4;

    @include desktop {
      margin-top: -$spacing-8 - $spacing-4;
    }
  }

  &.is-info {
    background-color: getColor('info');
    color: getColor('background');
  }

  &.has-overlay {
    position: relative;
    z-index: zindex('void');
    color: getColor('background');

    &::before {
      @include overlay;
      content: '';
      z-index: zindex('subzero');
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &.has-pattern-light {
    @include pattern-light(70%, 180px, -30px);
  }

  &.has-pattern-dark {
    @include pattern-dark(120%, 260px, -30%);
  }
}
