/* @todo validate a.alert exist */
a.alert {
  cursor: pointer;
  transition: box-shadow $animation-duration;

  &:hover,
  &:active,
  &:focus {
    box-shadow: $shadow;
  }
}

.alert {

  border-radius: $radius;
  margin-bottom: 16px;
  position: relative;
  display: flex;
  align-self: flex-start;
  box-shadow: none;
  padding: $spacing-4;

  .text:first-child,
  .title:first-child {
    line-height: normal;
    font-size: $text-16 !important;
  }

  .title,
  .text {
    margin-bottom: 0 !important;
    padding-bottom: $spacing-1;
  }

  .text:last-child {
    padding-bottom: 0 !important;
  }

  .icon {
    padding: 0;
  }

  @include mobile {
    flex-wrap: wrap;
  }

  strong {
    color: currentColor;
  }

  @each $name, $pair in $colors-feedback {
    $bg-color: nth($pair, 1);

    &.is-#{$name} {
      background-color: getColor($bg-color);
      border: 2px solid getColor($name);

      .icon {
        color: getColor($name);
      }
    }
  }

  > .icon {
    flex: none;
    align-self: flex-start;

    [class^='tri-'],
    [class*=' tri-'] {
      font-size: 20px;
    }
  }

  > .body {
    align-self: center;
    margin-bottom: 0;
    flex-grow: 1;
    padding: 1px $spacing-2; /* Fixes flex behavior on Safari mobile */

    @include mobile {
      flex: 1;
    }
  }

  .title,
  .text,
  .paragraph {
    font-size: $text-14;
    text-align: left;
  }

}
