.is-autocomplete {
    .autocomplete-menu {
        display: none;
    }

    &.is-active {
        .autocomplete-menu {
            display: block;
            border: 1px solid rgba(0,38,60,.4);
            padding: calc($spacing-1 + 1px) calc($spacing-2 + 2px);
            border-radius: 4px;
            max-height: 220px;
            overflow-y: auto;
            background-color: getColor('background');
            z-index: 10000;
        }

        .autocomplete-item {
            cursor: pointer;
            padding: calc($spacing-1 - 0.25px) calc($spacing-1 + 1px);

            &.is-active, &[data-autocomplete-item-hover] {
                @include hoverRules();
                margin-left: calc(2px - $spacing-3 );
                margin-right: calc(2px - $spacing-3 );
                border-top: 1px solid getColor('bg-neutral');
                border-bottom: 1px solid getColor('bg-neutral');
                padding: calc($spacing-1 - 1.25px) calc($spacing-4 - 1px);
            }
        }
    }
}
