@use "../base/color";
@use "../utilities/initial-variables";

.title .badge {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.badge-container {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 40px;
  min-height: 40px;

  .badge,
  .badge-icon {
    position: absolute;
    top: 0;
    right: 0;

    &.is-bottom-left {
      bottom: 0;
      left: 0;
      right: auto;
      top: auto;
    }

    &.is-bottom-right {
      bottom: 0;
      right: 0;
      top: auto;
    }

    &.is-top-left {
      top: 0;
      left: 0;
      right: auto;
    }
  }

  .badge-icon {
    width: initial-variables.$text-20;
    height: initial-variables.$text-20;
  }
}

.badge {
  display: inline-flex;
  border-radius: 9999px;
  color: color.getColor('background');
  background: color.getColor('main');
  font-size: initial-variables.$text-10;
  min-height: initial-variables.$text-20;
  min-width: initial-variables.$text-20;
  justify-content: center;
  align-items: center;

  &:empty {
    min-width: initial-variables.$text-10;
    min-height: initial-variables.$text-10;
  }

  &.is-inverted {
    color: color.getColor('main') !important;
    background: color.getColor('background') !important;
  }
}

[data-badge-number] {
  position: relative;

  &::after {
    content: attr(data-badge-number);
    position: absolute;
    margin-left: -15px;
    top: -7px;
    color: color.getColor('background');
    left: 100%;
    background: color.getColor('main');
    font-size: initial-variables.$text-10;
    min-height: initial-variables.$text-20;
    min-width: initial-variables.$text-20;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
  }
}
