.title .badge {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.badge-container {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 40px;
  min-height: 40px;

  .badge,
  .badge-icon {
    position: absolute;
    top: 0;
    right: 0;

    &.is-bottom-left {
      bottom: 0;
      left: 0;
      right: auto;
      top: auto;
    }

    &.is-bottom-right {
      bottom: 0;
      right: 0;
      top: auto;
    }

    &.is-top-left {
      top: 0;
      left: 0;
      right: auto;
    }
  }

  .badge-icon {
    width: $text-20;
    height: $text-20;
  }
}

.badge {
  display: inline-flex;
  border-radius: 9999px;
  color: getColor('background');
  background: getColor('main');
  font-size: $text-10;
  min-height: $text-20;
  min-width: $text-20;
  justify-content: center;
  align-items: center;

  &:empty {
    min-width: $text-10;
    min-height: $text-10;
  }

  &.is-inverted {
    color: getColor('main') !important;
    background: getColor('background');
  }
}

[data-badge-number] {
  position: relative;

  &::after {
    content: attr(data-badge-number);
    position: absolute;
    margin-left: -15px;
    top: -7px;
    color: getColor('background');
    left: 100%;
    background: getColor('main');
    font-size: $text-10;
    min-height: $text-20;
    min-width: $text-20;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
  }
}
