@use 'sass:math';
@import "../utilities/spacing";

$space-between-tiles: 5px;
$padding-box: $spacing-5;
$padding-box-mobile: $spacing-4;

/* @toto : add to figma */
a.box {
  cursor: pointer;
  transition: box-shadow $animation-duration;

  #{$hoverSelector},
  &:active,
  &:focus {
    box-shadow: $focus-shadow;
  }
}

.box {
  background-color: getColor('background');
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: var(--radius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  padding: 24px;

  @include mobile {
    padding: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &.is-active {
    outline: var(--border-active);
  }

  &.is-fullheight {
    .box-content {
      flex-grow: 1;
    }
  }

  &.is-highlighted {
    .box-content {
      padding-left: 23px;
      border-left: 8px solid transparent;
    }

    @each $name, $pair in $colors-brand-funcionnal {
      $color: getColor($name);
      $brandName: getColorBrandName($name);

      &.is-#{$brandName} .box-content {
        border-left-color: $color;
        border-left-width: 4px;
      }
    }
  }

  &.is-flat {
    box-shadow: none;
    border: var(--border);

    &.has-hat > .is-hat {
      left: -1px;
      right: -1px;
    }

    .box-header {
      margin-top: calc(-#{$padding-box} - 1px);
      margin-left: calc(-#{$padding-box} - 1px);
      margin-right: calc(-#{$padding-box} - 1px);
    }
  }

  .box-header {
    z-index: inherit;
    background-color: getColor('font');
    color: getColor('background');
    margin-top: -$padding-box;
    margin-left: -$padding-box;
    margin-right: -$padding-box;
    padding: 8px;
    padding-left: 24px;
    box-shadow: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: $weight-semibold;

    @include mobile {
      margin-top: -16px;
      margin-left: -16px;
      margin-right: -16px;
    }

    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    > p:not(:last-child),
    > .paragraph:not(:last-child) {
      margin: 0 0 0.3em;

      @include tablet {
        align-self: center;
        margin: 0 3em 0 0;
      }
    }

    ~ .box-content {
      margin-top: 0;
    }
  }

  .box-content {
    margin: -$padding-box;
    padding: $padding-box;

    @include mobile {
      margin: -$padding-box-mobile;
      padding: $padding-box-mobile;
    }

    @include mobile {
      text-align: left;
    }

    > .is-unboxed {
      margin-left: -$padding-box;
      margin-right: -$padding-box;
      width: auto;

      @include desktop {
        margin-left: -$padding-box;
        margin-right: -$padding-box;
      }
    }

    &.is-transparent {
      background-color: transparent;
    }
  }

  .box-footer {
    padding-top: $padding-box;
    border-top: var(--border);
    margin: 12.5px 7.5px 7.5px;
  }
}
