@use 'sass:list';

$button-border-width: 2px !default;
$button-colors: () !default;

.buttons {
  width: 100%;
  column-gap: 16px;

  &.is-vertical {
    row-gap: 16px;
  }

  @include tablet {
    display: flex;
    align-items: center;
    width: auto;
  }

  &.is-centered,
  &.has-text-centered,
  .has-text-centered & {
    justify-content: center;
  }
}

.button {
  background-color: white;
  border-width: $button-border-width;
  border-radius: var(--radius-small);
  cursor: pointer;
  justify-content: center !important;
  text-align: center;
  white-space: nowrap;
  padding: 0 $spacing-4;
  text-decoration: inherit;
  font-weight: $weight-semibold;
  @include control;
  @include unselectable;
  @extend %buttons-states;

  @include mobile {
    width: 100%;
    margin: 8px 0 !important;
  }

  @each $name, $pair in $button-colors {
    $variantName: list.nth($pair, 1);
    $colorBG: getColor(#{list.nth($pair, 2)});
    $colorText: getColor(list.nth($pair, 3));

    &.is-#{$variantName} {
      background-color: $colorBG;
      color: $colorText;
    }
  }

  &.is-ghost:hover:not([disabled]) {
    background-color: var(--color-main-fade);
    filter: none !important;
  }

  &[disabled],
  &[aria-disabled=true] {
    border-color: transparent !important;
    background-color: getColorValue('main-fade') !important;
    color: getColorValue('disabled') !important
  }

  &.is-loading {
    background-color: getColorValue('neutral');
  }

}
