$button-border-width: 2px !default;

.buttons {
  width: 100%;
  column-gap: 16px;

  &.is-vertical {
    row-gap: 16px;
  }

  @include tablet {
    display: flex;
    align-items: center;
    width: auto;
  }

  &.is-centered,
  &.has-text-centered,
  .has-text-centered & {
    justify-content: center;
  }

  &.is-mobile {
    flex-wrap: wrap;

    .button {
      margin-bottom: 16px;
    }
  }
}

.button {
  @include control;
  @include unselectable;

  background-color: white;
  border-width: $button-border-width;
  border-radius: $radius-small;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  font-family: $body-family;
  white-space: nowrap;
  height: 44px;
  padding: 0 $spacing-4;
  font-size: $text-15;
  text-decoration: inherit;
  font-weight: $weight-semibold;

  @include mobile {
    width: 100%;
    margin: 8px 0 !important;
  }

  #{$hoverSelector} {
    filter: brightness(0.9)
  }

  &:active {
    filter: brightness(0.8)
  }

  @each $name, $pair in $btn-colors {
    $variantName: nth($pair, 1);
    $colorBG: getColor(#{nth($pair, 2)});
    $colorText: getColor(nth($pair, 3));
    $effectHover: nth($pair, 4);
    $effectActive: nth($pair, 5);

    &.is-#{$variantName} {
      background-color: $colorBG;
      color: $colorText;

      @if $effectHover {
        #{$hoverSelector} {
          filter: $effectHover;
        }
      }
      @if $effectActive {
        &:active {
          filter: $effectActive;
        }
      }
    }
  }

  &:focus-visible {
    outline: 2px solid getColor('main');
    outline-offset: 2px;
  }

}
