@include checkbox-and-radio('checkbox');

.checkbox,
.checkbox-tile {
  input:checked ~ label.checkbox-label {
    &:before {
      background-color: getColor('main');
    }

    &:after {
      content: "";
      mask-image: url('./assets/icons/all/check.svg');
      background-color: getColor('background');
      mask-size: 18px;
    }
  }

  label.checkbox-label {
    &:before,
    &:after {
      border-radius: var(--radius-small);
    }
  }
}

.checkbox-tile {
  input:checked ~ label.checkbox-label {
    &:after {
      top: 15px;
      right: 15px;
    }
  }
}

.checkbox {
  input:not(:disabled):not(:checked) ~ label.checkbox-label:hover {
    &:before {
      @include hoverRules()
    }
  }
}

