.is-checkradio[type='radio'],
.is-checkradio[type='checkbox'] {
    @include checkradio;

    + label {
        &.is-descriptive {
            flex-wrap: wrap;

            span {
                flex-basis: 100%;
                display: inline-block;
                padding-left: 25px;
                margin-top: 5px;
                font-size: $text-13;
                color: getColor('grey');
            }

            &:after {
                top: 2px;
                left: 1px;
                line-height: 18px;
            }
        }
    }

    &:focus-visible {
        + label {
            &::before {
                outline: 1px auto getColor('font');
            }
        }
    }

    &:hover:not([disabled]) {
        + label {
            &::before {
                border-color: getColor('grey-dark');
            }
        }
    }

    &:checked {
        + label {
            &::before {
                animation-name: none;
                border-color: getColor('grey');
                color: getColor('alternate');
            }

            &::after {
                display: block;
            }
        }

        &[disabled] {
            cursor: not-allowed;

            + label {
                opacity: 0.5;
            }
        }
    }

    &[disabled] {
        cursor: not-allowed;

        + label {
            opacity: 0.5;
            cursor: not-allowed;

            &:hover,
            &::before,
            &::after {
                cursor: not-allowed;
            }
        }

        &:hover {
            cursor: not-allowed;

            &::before {
                animation-name: none;
            }
        }

        &::before,
        &::after {
            cursor: not-allowed;
        }
    }

    &.is-inverted {
        + label::before,
        &:hover:not([disabled]) + label::before,
        &:checked + label::before {
            border-color: getColor('background');
        }

        + label,
        &:checked + label::before {
            color: getColor('background');
        }
    }
}

.is-checkradio[type='checkbox'] {
    + label {
        &::before {
            margin-right: 16px;
            border-radius: $radius-small;
        }

        &::after {
            content: url('data:image/svg+xml; utf8, <svg viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" fill="none"><path d="M11.3 22.4L18.1 29.3L32.7 14.7"/></svg>');
            display: none;
            line-height: 0;
            margin: 0;
            width: 14px;
            height: 14px;
            background-color: getColor('alternate');
            overflow: hidden;
            border-radius: 3px;
            left: 1px;
        }
    }

    &.is-inverted {
        + label::after {
            color: getColor('background');
        }
    }
}

.is-checkradio[type='radio'] {
    + label {
        line-height: 1;

        &::before,
        &::after {
            margin-right: 16px; // put size instead
            border-radius: 100%;
        }

        &::after {
            top: 50%;
            transform: translateY(-50%);
            left: 2px;
            width: 12px;
            height: 12px;
        }

        &.is-descriptive {
            &::after {
                top: 8px;
                left: 2px;
            }
        }
    }

    &:checked {
        + label {
            &::after {
                background-color: getColor('alternate');
            }
        }
    }

    &.is-inverted {
        &:checked + label::after {
            background-color: getColor('background');
        }
    }
}
