@import "../utilities/spacing";

.chips-list {
  align-items: center;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: $spacing-2;

  // centrage des chips
  &.is-centered {
    justify-content: center;
  }

  &.is-multiple {
    .chips:before {
      content: "";
      mask-image: url('./assets/icons/all/check.svg');
      background-color: currentColor;
      margin-right: 4px;
      margin-left: -8px;
      width: 0;
      height: 20px;
      mask-size: 20px;
      transition: width 250ms;
    }
    .chips.is-active:before{
      width: 20px;
    }
  }

  .chips {
    align-items: center;
    background-color: white;
    border-radius: 9999px;
    color: getColor('font');
    display: inline-flex;
    font-size: $size-normal;
    height: 32px;
    justify-content: center;
    line-height: 2;
    padding: 6px $spacing-4;
    white-space: nowrap;
    cursor: pointer;
    border: var(--border);
    &:not(.is-disabled) {
      &.is-active {
        background-color: getColor('main');
        color: white;
        border: var(--border-active);
        padding: 5px ($spacing-4 - 1px);
        #{$hoverSelector} {
          background-color: getColor('main');
          color: white;
        }
      }
      #{$hoverSelector} {
        background-color: getColor('neutral-fade');
      }
    }

    &.is-inverted {
      background-color: white;
      color: getColor('accent');

      &:active,
      &:hover,
      &:focus,
      &:focus-visible,
      &.is-active {
        background-color: getColor('accent') !important;
        color: getColor('background') !important;
      }
    }
  }
}
