@use "../utilities/spacing";
@use "../base/color";
@use "../utilities/derived-variables";
@use "../utilities/initial-variables";

.chips-list {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: spacing.$spacing-2;

  // centrage des chips
  &.is-centered {
    justify-content: center;
  }

  &.is-scrollable {
    flex-wrap: nowrap;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.is-multiple {
    .chips:before {
      content: "";
      mask-image: url('./assets/icons/all/check.svg');
      background-color: currentColor;
      margin-right: 4px;
      margin-left: -8px;
      width: 0;
      height: 20px;
      mask-size: 20px;
      transition: width 250ms;
    }
    .chips.is-active:before{
      width: 20px;
    }
  }

  .chips {
    align-items: center;
    background-color: white;
    border-radius: 9999px;
    color: color.getColor('font');
    display: inline-flex;
    font-size: derived-variables.$size-normal;
    height: 32px;
    justify-content: center;
    line-height: 2;
    padding: 6px spacing.$spacing-4;
    white-space: nowrap;
    cursor: pointer;
    border: var(--border);
    &:not(.is-disabled) {
      &.is-active {
        background-color: color.getColor('main');
        color: white;
        border: var(--border-active);
        padding: 5px (spacing.$spacing-4 - 1px);
        #{initial-variables.$hoverSelector} {
          background-color: color.getColor('main');
          color: white;
        }
      }
      #{initial-variables.$hoverSelector} {
        background-color: color.getColor('neutral-fade');
      }
    }

    &.is-inverted {
      background-color: white;
      color: color.getColor('accent');

      &:active,
      &:hover,
      &:focus,
      &:focus-visible,
      &.is-active {
        background-color: color.getColor('accent') !important;
        color: color.getColor('background') !important;
      }
    }
  }
}
