@use "../base/color";
@use "../utilities/initial-variables";
@use "../utilities/mixins";

.container {
  margin: 0 auto;
  position: relative;

  &.is-fullhd {
    width: auto;
  }

  &.is-sticky-top,
  &.is-sticky-bottom {
    background-color: color.getColor('background');
  }

  &.is-sticky-top {
    z-index: 1000;
  }

  &.is-sticky-bottom {
    z-index: 999;
  }

  @include mixins.desktop {
    max-width: initial-variables.$desktop - 2 * initial-variables.$gap;
    width: auto;
  }

  @include mixins.until-widescreen {
    &.is-widescreen {
      max-width: initial-variables.$widescreen - 2 * initial-variables.$gap;
      width: auto;
    }
  }

  @include mixins.until-fullhd {
    &.is-fullhd {
      max-width: initial-variables.$fullhd - 2 * initial-variables.$gap;
      width: auto;
    }
  }

  @include mixins.widescreen {
    max-width: initial-variables.$widescreen - 2 * initial-variables.$gap;
    width: initial-variables.$widescreen - 2 * initial-variables.$gap;
  }

  @include mixins.fullhd {
    margin: 0 auto;
    max-width: initial-variables.$fullhd - 2 * initial-variables.$gap;
    width: initial-variables.$fullhd - 2 * initial-variables.$gap;
  }

  &.is-medium {
    max-width: 960px;
    margin: auto;
  }

  &.is-fullwidth {
    max-width: 100%;
    width: 100%;
  }
}

main,
header .navbar,
header,
footer {
  > .container {
    @include mixins.desktop {
      margin: 0 auto;
    }

    @include mixins.fullhd {
      max-width: 100%;
    }
  }
}
