.input,
.textarea {
    @include input;

    padding-left: $spacing-4;
    padding-right: $spacing-4;
    font-family: $body-family;
    font-size: $size-medium;
    max-width: 100%;
    width: 100%;

    &:focus-visible,
    :focus {
      outline: 1px auto getColor('alternate');
    }

    // Colors
    @each $name in $colors-brand-funcionnal {
      $color: getColor($name);
      $color-invert: invertColor($name);
      $brandName: getColorBrandName($name);

        &.is-#{$brandName} {
          border: 2px solid $color;
          &:focus-visible,
          &:hover,
          &.is-hovered,
          &:focus,
          &.is-focused {
            outline: 1px auto $color !important;
          }
        }
    }

    // Sizes
    &.is-small {
        @include control-small;
    }

    &.is-large {
        @include control-large;
    }

    &.is-fullwidth {
        display: block;
        width: 100%;
    }

    &.is-inline {
        display: inline;
    }

    .icon-status {
        color: aqua !important;
    }

    & label {
      margin-top: 10px;
    }
}

.input {
    &::-ms-clear {
        display: none;
    }

    &.is-small {
        height: 24px;
    }

    &.is-rounded {
        border-radius: $radius-rounded;
        padding-left: 1em;
        padding-right: 1em;
    }

    &.is-static {
        background-color: transparent;
        border-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
}

.textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    resize: vertical;
    padding-top: 15px;


    &:not([rows]) {
        max-height: 600px;
        min-height: 120px;
    }

    &[rows] {
        height: initial;
    }

    &.has-fixed-size {
        resize: none;
    }
}

.textarea[disabled]:hover {
  outline: 1px auto getColor('grey-disabled') !important;
}
