
.field .security-gauge-container {
  width: 100%;

  .security-gauge {
    height: 4px;
    background: getColor('disabled');
    border-radius: var(--radius-small);
    margin: 8px 0;

    .gauge {
      height: 100%;
      border-radius: var(--radius-small);
    }
  }

  .security-gauge-verifies {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .security {
      display: flex;
      align-items: center;
      margin-bottom: 4px;

      .icon {
        position: relative;
        width: 16px;
        margin-right: 8px;
        font-size: 16px;
        margin-bottom: -1px;
      }
    }
  }
}
