.link:not([disabled]) {
    position: relative;
    font-size: 14px;
    font-weight: $weight-medium;
    color: getColor('alternate');
    box-decoration-break: clone;
    padding: $spacing-2;
    margin: -8px;
    text-decoration: underline;
    cursor: pointer;

    &:not(p .link) {
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
    }

    &:hover {
        filter: brightness(70%);
    }

      &:focus,
      &:focus-visible,
      &.is-focused,
      &:active,
      &.is-active {
        filter: brightness(50%);
      }

    @include desktop {
        &:not(.is-static) {
            display: inline-flex;
            border-bottom-width: 0;
        }
    }

    &.has-icon {
        display: inline-flex;
        align-items: center;

        &::after {
            width: calc(100% - 48px);
            bottom: 5.5px;
        }
    }

    &.is-static::after {
        margin-bottom: 4px;
    }

    &.is-inverted {
        color: getColor('background');

      &.has-icon {
        > .icon {
          color: getColor('background');
        }
      }
    }

    @include touch {
        white-space: normal !important;
        box-decoration-break: clone;
        display: inline;
    }
}

@keyframes sliding-link {
    50% {
        left: 100%;
        right: 0;
    }

    50.01% {
        left: 0;
        right: 100%;
    }
}
