.link:not([disabled]) {
  position: relative;
  font-weight: $weight-normal;
  color: getColor('font');
  box-decoration-break: clone;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    font-weight: $weight-semibold;
  }

  &:focus-visible,
  &:focus:focus-visible {
    outline: 2px solid getColor('font');
    border-radius: $radius-small;
    padding: 4px;
  }

  &.has-icon {
    display: inline-flex;
    align-items: center;

    &::after {
      width: calc(100% - 48px);
      bottom: 5.5px;
    }
  }

  &.is-inverted {
    color: getColor('background');

    &.has-icon {
      > .icon {
        color: getColor('background');
      }
    }
  }

  @include touch {
    white-space: normal !important;
    box-decoration-break: clone;
    display: inline;
  }
}

.text .link {
  &:hover {
    font-weight: $weight-normal;
    filter: brightness(0.8);
  }
}

@keyframes sliding-link {
  50% {
    left: 100%;
    right: 0;
  }

  50.01% {
    left: 0;
    right: 100%;
  }
}
