// Bullet list classiques
ul.list,
ol.list {
  list-style: disc ;
  display: grid;
  row-gap: $spacing-3;

  li.list-item {
    &:has(.icon) {
      list-style: none;
      display: flex;
    }

    .icon {
      margin-right: $spacing-2;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .list-item-content {
      display: inline-grid;

      &_puce {
        margin-right: $spacing-4;
      }
    }

    &.has-action {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .list-item_action {
        & > :first-child {
          margin: 0 !important;
          cursor: pointer;
        }

        .radio label.radio-label:empty,
        .checkbox label.checkbox-label:empty {
          padding: $spacing-1 $spacing-1 $spacing-1 calc($spacing-1 + 10px);
        }
      }
    }

    div b {
      margin-bottom: $spacing-2;
    }
  }

  &.has-divider {
    li {
      border-bottom: var(--border);
      padding-bottom: $spacing-3;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}
