// Bullet list classiques

ul.list li.list-item:not(:has(>.icon)){
  &:before{
    content: "•";
    font-size: 28px;
    line-height: 18px;
  }

}
ol.list li.list-item:not(:has(>.icon)){
  counter-increment: step-counter;
  &:before{
    content: counter(step-counter) ".";
    font-weight: 600;
  }
}

ul.list,
ol.list {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
  li.list-item {
    display: flex;
    &:before{
      width: 12px;
      margin-right: $spacing-2;
      align-self: flex-start;
    }
    &:has(>.icon) {
      row-gap: $spacing-3;
    }
    > .icon {
      margin-right: $spacing-2;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .list-item-content {
      &_puce {
        margin-right: $spacing-4;
      }
    }

    &.has-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .list-item_action {
        & > :first-child {
          margin: 0 !important;
          cursor: pointer;
        }

        .radio label.radio-label:empty,
        .checkbox label.checkbox-label:empty {
          padding: $spacing-1 $spacing-1 $spacing-1 calc($spacing-1 + 10px);
        }
      }
    }
  }

  &.has-divider {
    li:not(:last-child) {
      border-bottom: var(--border);
      padding-bottom: $spacing-4;
    }
  }
}
