.block {
    @include block;
}

.delete {
    @include delete;
}

.heading {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.highlight {
    @include block;

    font-weight: $weight-normal;
    max-width: 100%;
    overflow: hidden;
    padding: 0;

    pre {
        overflow: auto;
        max-width: 100%;
    }
}

.number {
    align-items: center;
    background-color: getBGColor('neutral-dark');
    border-radius: 9999px;
    display: inline-flex;
    font-size: $size-medium;
    height: 2em;
    justify-content: center;
    margin-right: 15px;
    min-width: 2.5em;
    padding: 2.5px 5px;
    text-align: center;
    vertical-align: top;
}
