$text-levels: (
    ($text-16, $text-20, $text-16),
    ($text-14, $text-18, $text-16),
    ($text-12, $text-15, $text-16),
    ($text-10, $text-12, $text-16)
);
$text-levels-mobile: (
    ($text-16, $text-20, $text-8),
    ($text-14, $text-18, $text-8),
    ($text-12, $text-15, $text-8),
    ($text-10, $text-12, $text-8)
);


.text {
        @each $text-level in $text-levels {
            $i: index($text-levels, $text-level);
            $font-size: nth($text-level, 1);
            $line-height: nth($text-level, 2);
            $margin-bottom: nth($text-level, 3);

            &.is-level-#{$i} {
                font-size: $font-size;
                line-height: $line-height;
                font-family: $family-primary;
                margin-bottom: $margin-bottom;
            }
        }

        &.is-inverted {
          color: getColor('background');
        }

        @include mobile {
            @each $text-level-mobile in $text-levels-mobile {
                $i: index($text-levels-mobile, $text-level-mobile);
                $margin-bottom: nth($text-level-mobile, 3);

                &.is-level-#{$i} {
                    margin-bottom: $margin-bottom;
                }
            }
        }

        &.is-wrapped {
            word-break: break-word;
        }

        &.bold {
            font-weight: $weight-bold;
        }
    }


.paragraph:not(:last-child) {
    margin-bottom: 10px;
}

.span {
    font-style: inherit;
    font-weight: inherit;
}

.strong {
    color: inherit;
    font-weight: $weight-bold;
}

.sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.4em;
    font-size: 0.7em;
}

.small {
    font-size: 0.875em;
}
