@use "../base/color";
@use "../utilities/mixins";
@use "../utilities/spacing";

@include mixins.checkbox-and-radio('radio');

.radios {
  width: 100%;
  column-gap: spacing.$spacing-5;
  row-gap: spacing.$spacing-3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include mixins.tablet {
    flex-direction: row;

    &.is-vertical-desktop {
      flex-direction: column;
    }
  }

  @include mixins.mobile {
    &.is-horizontal-mobile {
      flex-direction: row;
    }
  }

  &.is-centered,
  &.has-text-centered,
  .has-text-centered & {
    justify-content: center;
  }
}

.radio,
.radio-tile {
  input:checked ~ label.radio-label {
    cursor: default;

    &:after {
      content: '';
      width: 12px;
      height: 12px;
    }
  }

  label.radio-label {
    &:before,
    &:after {
      border-radius: 9999px;
    }
  }
}

.radio {
  input:checked ~ label.radio-label {
    &:after {
      left: 3px;
    }
  }

  input:not(:disabled):not(:checked) ~ label.radio-label:hover {
    &:before {
      @include mixins.hoverRules()
    }
  }

}

.radio-tile {
  input:checked ~ label.radio-label {
    &:after {
      top: 18px;
      right: 18px;
    }
  }

  input:checked:disabled ~ label.radio-label {
    &:after {
      background-color: color.getColor('neutral');
      top: 19px;
      right: 19px;
    }
  }
}
