@include checkbox-and-radio('radio');

.radios {
  width: 100%;
  column-gap: 16px;
  display: flex;
  flex-wrap: wrap;

  &.is-vertical {
    row-gap: 16px;
  }

  @include mobile {
    &:not(.is-mobile){
      display: block;
    }
  }

  &.is-centered,
  &.has-text-centered,
  .has-text-centered & {
    justify-content: center;
  }
}

.radio,
.radio-tile {
    input:checked ~ label.radio-label {
        &:after {
            content: '';
            width: 12px;
            height: 12px;
        }
    }

    label.radio-label {
        &:before,
        &:after {
            border-radius: 50%;
        }
    }
}

.radio {
    input:checked ~ label.radio-label {
        &:after {
            left: 3px;
        }
    }
}

.radio-tile {
    input:checked ~ label.radio-label {
        &:after {
            top: 18px;
            right: 18px;
        }
    }

    input:checked:disabled ~ label.radio-label {
        &:after {
            background-color: getColor('grey');
            top: 19px;
            right: 19px;
        }
    }
}
