
.select {
  position: relative;
  input { cursor: pointer;}

  select {
    width: 100%;
    @include input;
    &:focus {
      padding-left: 15px !important;
    }
  }

  .has-icons-left {
    select {
      padding-left: 45px;
      &:focus {
        padding-left: 44px !important;
      }
    }
  }

  &-options { 
    box-shadow: 0 0 8px #0000001a; 
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 64px;
    z-index: 1001;
    left: 0;
    right: 0;
  }

  .field {
    &.focus {
      &:after{
        @include arrow('up');
        right: 12px;
        top:50%;
        transform: translate(-50%,-50%);
      }
    }
    &:not(.focus) {
      &:after{
        @include arrow();
        right: 12px;
        top:50%;
        transform: translate(-50%,-50%);
      }
    }
  } 


  &-trilogy_modal_open {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1000;
  }

  .radio-tile {
    input:checked {
      &~label.radio-label {
        font-weight: $weight-black ;
        &:after {
          content: "" !important;
          mask-image: url('./assets/icons/all/check.svg') !important;
          background-color: getColor('main') !important;
          mask-size: 18px !important;
          top: 25px !important;
          right: 18px !important;
          height:18px  !important;
          width: 18px !important
        }
      } 
    }

    label.radio-label {
      border:none !important;
      border-radius: 0 !important;
      height: 52px;
      &:before { display: none; }
        @include hover 
    } 

    &.focus label.radio-label { @include hoverRules(); }

    .icon.is-medium {
      font-size: $text-20 !important;
    }
  } 
}


