.select {
  position: relative;
  input { cursor: pointer;}

  .field.focus .control input:first-child, 
  .field.focus .input.select-native { 
    border: 2px solid currentColor;
   }

  &-options { 
    box-shadow: 0 0 8px #0000001a; 
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 64px;
    z-index: 1001;
    left: 0;
    right: 0;
  }

  .radio-tile {
    input:checked {
      &~label.radio-label {
        font-weight: $weight-black ;
        &:after {
          content: "" !important;
          mask-image: url('./assets/icons/all/check.svg') !important;
          background-color: getColor('main') !important;
          mask-size: 18px !important;
          top: 25px !important;
          right: 18px !important;
          height:18px  !important;
          width: 18px !important
        }
      } 
    }

    label.radio-label {
      border:none !important;
      border-radius: 0 !important;
      height: 52px;
      &:before { display: none; }
        @include hover 
    } 

    &.focus label.radio-label {
      @include hoverRules();
    }
    .icon.is-medium {
      font-size: $text-20 !important;
    }
  } 

  .control:not(.has-icons-left.has-icons-right) {
    .select-native.multiple.input {
      padding-left:0 !important;
      select option {padding-left: 16px;}
    }
  }

  &-native {
    position: relative;
    select {
      width: 100%;
      border:none;
      height: 100%;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      outline: none;
      color:  getColor('main');
      font-size: $text-16 !important;
    }

    &.input {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    &.multiple.input{
      height: auto !important;
      padding-right: 0 !important;
      select { padding-top: 28px !important; }
    }
  }

  &-trilogy_modal_open {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1000;
  }
}


