@use 'sass:math';

$title-weight: $weight-semibold;
$title-line-height: 1.1;
$title-strong-color: inherit;
$title-strong-weight: inherit;
$title-sub-size: 0.5em;
$title-sup-size: 0.5em;

$subtitle-size: $text-15;
$subtitle-weight: $weight-semibold;
$subtitle-size-tablet: $text-15;
$subtitle-line-height: 1.2;
$subtitle-strong-weight: $weight-semibold;

$overline-size: $text-15;
$overline-weight: $weight-semibold;
$overline-line-height: 1.2;
$overline-size-tablet: $text-15;

$title-levels: (
    ($text-48, $text-58, $family-secondary),
    ($text-36, $text-44, $family-secondary),
    ($text-28, $text-32, $family-primary),
    ($text-24, $text-28, $family-primary),
    ($text-20, $text-24, $family-primary),
    ($text-16, $text-20, $family-primary)
);
$title-levels-mobile: (
    ($text-32, $text-38),
    ($text-28, $text-34),
    ($text-22, $text-26),
    ($text-20, $text-24),
    ($text-18, $text-22),
    ($text-16, $text-20)
);

.title,
.subtitle,
.overline {
    word-break: break-word;

    em,
    span {
        font-weight: inherit;
    }

    .tag {
        vertical-align: middle;
    }
}

.title {
    font-size: $text-32;
    font-weight: $title-weight;
    line-height: $title-line-height;

    // new typography
    @each $title-level in $title-levels {
        $i: index($title-levels, $title-level);
        $font-size: nth($title-level, 1);
        $line-height: nth($title-level, 2);
        $font-family: nth($title-level, 3);

        &.is-level-#{$i} {
            font-size: $font-size;
            line-height: $line-height;
            font-family: $font-family;
        }

        &.is-medium {
            font-weight: $weight-medium;
        }

        &.is-inverted {
            color: getColor('background');
        }

        .details {
            font-size: 80%;
            color: getColor('grey');
            font-weight: $weight-normal;
        }

        &.is-section-title {
            text-align: center;
        }

        @include tablet {
            font-size: $text-40;
        }

        sup {
            top: -0.5em;
            font-size: $title-sup-size;
        }

        sub {
            bottom: -0.5em;
            font-size: $title-sub-size;
        }

        &.is-centered {
            text-align: center;
        }
    }

    @include mobile {
        @each $title-level-mobile in $title-levels-mobile {
            $i: index($title-levels-mobile, $title-level-mobile);
            $font-size-mobile: nth($title-level-mobile, 1);
            $line-height-mobile: nth($title-level-mobile, 2);
            &.is-level-#{$i} {
                font-size: $font-size-mobile;
                line-height: $line-height-mobile;
            }
        }
    }
}

.subtitle {
    color: getColor('alternate');
    font-size: $subtitle-size;
    font-weight: $subtitle-weight;
    line-height: $subtitle-line-height;
    &.is-inverted {
        color: getColor('background');
    }
}

.overline {
    color: getColor('alternate');
    font-size: $overline-size;
    font-weight: $overline-weight;
    line-height: $overline-line-height;
    &.is-inverted {
        color: getColor('background');
    }
}
