@use "../base/color";
@use "../utilities/derived-variables";
@use "../utilities/initial-variables";
@use "../utilities/mixins";
@use "../utilities/spacing";

a.toaster {
    cursor: pointer;
    transition: box-shadow initial-variables.$animation-duration;

    &:hover,
    &:active,
    &:focus {
        box-shadow: derived-variables.$shadow;
    }
}

.toaster {

  background-color: color.getColor('info-fade');
  border-radius: var(--radius);
  margin-bottom: 16px;
  position: relative;
  margin-left: 24px;
  margin-right: 24px;
  padding: spacing.$spacing-4;
  display: flex;

  .toaster-close {
        padding-right: 0 !important ;
        color: color.getColor('font') !important;
    }

    .text:first-child,
    .title:first-child {
        font-size: initial-variables.$text-16 !important;
        line-height: normal;
    }

    .title,
    .text {
        margin-bottom: 0 !important ;
        padding-bottom: spacing.$spacing-1;
    }

    .text:last-child {
        padding-bottom: 0 !important;
    }

    .icon {
        padding: 0;
    }

    @include mixins.mobile {
        flex-wrap: wrap;
    }

    strong {
        color: currentColor;
    }

    code,
    pre {
        background: color.getColor('background');
    }

    pre code {
        background: transparent;
    }

  @each $name in derived-variables.$colors-feedback {
    &.is-#{$name} {
      background-color: color.fadeColor($name);
      border: 2px solid color.getColor($name);

      .icon {
        color: color.getColor($name);
      }
    }
  }

    &:not(.has-description) > .icon {
        align-self: flex-start;
    }

    &.has-description {
        @include mixins.mobile {
            justify-content: center;
            text-align: center;

            .icon {
                padding: 0;
                margin-bottom: 30px;
            }

            .body {
                flex: 0 1 auto;
            }
        }
    }

    > .icon {
        flex: none;
        align-self: flex-start;
        margin-top: -5.4px;
        font-size: 20px;
    }

    > .body {
        align-self: center;
        color: color.getColor('font');
        margin-bottom: 0;
        flex-grow: 1;
        padding: 1px spacing.$spacing-2; /* Fixes flex behavior on Safari mobile */

        @include mixins.mobile {
            flex: 1;
        }
    }

    .title,
    .text,
    .paragraph {
        font-size: initial-variables.$text-14;
        text-align: left;
    }

}
