a.toaster {
    cursor: pointer;
    transition: box-shadow $animation-duration;

    &:hover,
    &:active,
    &:focus {
        box-shadow: $shadow;
    }
}

.toaster {
    @include apply-shadow-box();
  background-color: getColor('info-fade');
  border-radius: var(--radius);
  margin-bottom: 16px;
  position: relative;
    margin-left: 24px;
    margin-right: 24px;
  box-shadow: none;
  padding: $spacing-4;
  display: flex;

    .toaster-close {
        padding-right: 0 !important ;
        color: getColor('font') !important;
    }

    .text:first-child,
    .title:first-child {
        font-size: $text-16 !important;
        line-height: normal;
    }

    .title,
    .text {
        margin-bottom: 0 !important ;
        padding-bottom: $spacing-1;
    }

    .text:last-child {
        padding-bottom: 0 !important;
    }

    .icon {
        padding: 0;
    }

    @include mobile {
        flex-wrap: wrap;
    }

    strong {
        color: currentColor;
    }

    code,
    pre {
        background: getColor('background');
    }

    pre code {
        background: transparent;
    }

  @each $name in $colors-feedback {
    &.is-#{$name} {
      background-color: fadeColor($name);
      border: 2px solid getColor($name);

      .icon {
        color: getColor($name);
      }
    }
  }

    &:not(.has-description) > .icon {
        align-self: flex-start;
    }

    &.has-description {
        @include mobile {
            justify-content: center;
            text-align: center;

            .icon {
                padding: 0;
                margin-bottom: 30px;
            }

            .body {
                flex: 0 1 auto;
            }
        }
    }


    > .icon {
        flex: none;
        align-self: flex-start;
        margin-top: -5.4px;
        font-size: 20px;
    }

    > .body {
        align-self: center;
        color: getColor('font');
        margin-bottom: 0;
        flex-grow: 1;
        padding: 1px $spacing-2; /* Fixes flex behavior on Safari mobile */

        @include mobile {
            flex: 1;
        }
    }

    .title,
    .text,
    .paragraph {
        font-size: $text-14;
        text-align: left;
    }

}
