@use "sass:string";
@import "../initial-variables";

@mixin center($width, $height: 0) {
  position: absolute;

  @if $height != 0 {
    left: calc(50% - (#{$width} / 2));
    top: calc(50% - (#{$height} / 2));
  } @else {
    left: calc(50% - (#{$width} / 2));
    top: calc(50% - (#{$width} / 2));
  }
}

@mixin label-states {
  &:focus,
  &:active,
  &:hover {
    @include hover();
  }
}

// import sass bulma
@mixin input {
  @include control;
  height: 56px;
  background-color: getColor('background');
  border: var(--border);
  color: getColor('font');

  @include placeholder {
    color: getColor('font-placeholder') !important;
    opacity: 1 !important;
    transition: all 0.2s ease-out;
  }

  @include hover();
}

@mixin checkbox-and-radio($type) {
  //TILES WRAPPER
  .#{$type}-tiles {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    &.is-grid {
      display: grid;

      & > .radio-tile {
        width: 100%;
      }
    }
    @for $i from 1 through 12 {
      &.is-grid-cols-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
    @include mobile {
      @for $i from 1 through 12 {
        &.is-grid-cols-mobile-#{$i} {
          grid-template-columns: repeat(#{$i}, 1fr);
        }
      }
    }
    @include tablet {
      @for $i from 1 through 12 {
        &.is-grid-cols-tablet-#{$i} {
          grid-template-columns: repeat(#{$i}, 1fr);
        }
      }
    }
    @include touch {
      @for $i from 1 through 12 {
        &.is-grid-cols-touch-#{$i} {
          grid-template-columns: repeat(#{$i}, 1fr);
        }
      }
    }
    @include desktop {
      @for $i from 1 through 12 {
        &.is-grid-cols-desktop-#{$i} {
          grid-template-columns: repeat(#{$i}, 1fr);
        }
      }
    }
    @include widescreen {
      @for $i from 1 through 12 {
        &.is-grid-cols-widescreen-#{$i} {
          grid-template-columns: repeat(#{$i}, 1fr);
        }
      }
    }
    @include fullhd {
      @for $i from 1 through 12 {
        &.is-grid-cols-fullhd-#{$i} {
          grid-template-columns: repeat(#{$i}, 1fr);
        }
      }
    }
  }

  //BOTH
  .#{$type},
  .#{$type}-tile {
    position: relative;

    label.#{$type}-label {
      cursor: pointer;
      font-size: 14px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
      }

      &:before {
        border: var(--border);
      }
    }

    input {
      opacity: 0;
      position: absolute;
      outline: none;

      &:checked ~ label.#{$type}-label {
        border-color: getColor('main');

        &:before {
          border-color: getColor('main');
        }

        &:after {
          background-color: getColor('main');
        }
      }
      &:focus-visible ~ label.#{$type}-label:before {
        outline: 1px solid;
      }

      &:disabled,
      &:disabled:checked {
        & ~ label.checkbox-label {
          &:after {
            background-color: getColor('disabled-fade');
          }
        }
        & ~ label.radio-label {
          &:after {
            background-color: getColor('disabled');
          }
        }
      }

      &:disabled {
        & ~ label.#{$type}-label {
          &:after {
            background-color: transparent;
          }
        }
      }
    }
    .divider {
      &:not(.is-marginless) {
        margin: $spacing-3 0;
      }
    }
  }

  // SIMPLE WITH LABEL ONLY
  .#{$type} {
    display: flex;
    align-items: center;
    width: fit-content;

    input:disabled,
    input:disabled:checked {
      & ~ label.#{$type}-label {
        @include disabledRulesWithoutBG;
      }
    }

    label.#{$type}-label {
      padding-left: calc(18px + $spacing-3);

      &:before,
      &:after {
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }

    &:hover &:not(disabled) {
      label.#{$type}-label {
        &:before {
          @include hoverRules();
        }
      }
    }

    &:focus {
      border: 2px;
      border-color: getColor('main');
    }
  }

  .#{$type}-tiles:not(.is-grid) {
    .#{$type}-tile:not(.is-horizontal) {
      max-width: 160px;
    }
  }

  //TILE ONLY
  .#{$type}-tile {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 16px 16px;
    border: var(--border);
    border-radius: var(--radius);
    box-sizing: border-box;
    background-color: getColor('background');
    text-align: center;
    align-items: center;
    font-size: 14px;

    &[aria-disabled="true"] {
      @include disabledRules;
      label.#{$type}-label {
        cursor: not-allowed !important;
      }
    }

    &[aria-checked="true"] {
      border-color: getColor('main');
      border-width: 2px;
      padding: 15px;
      padding-top: 39px;
      label.radio-label:before {
        top: 15px;
        left: 15px;
      }
      .#{$type}-sticker {
        top: -1px;
        right: 15px;
      }
    }

    &:not([aria-disabled="true"]) {
      cursor: pointer;
    }

    &:not([aria-disabled="true"]):not([aria-checked="true"]) {
      @include label-states;
    }

    &:has(input:focus-visible) {
      outline:  1px solid;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .#{$type}-content {
      display: flex;
      flex-direction: column;
    }

    label.#{$type}-label {
      display: block;
      font-weight: bold;
      width: 100%;
      display: block;
      font-size: 16px;
      order: - 1;
      &:before {
        top: 16px;
        left: 16px;
      }
    }

    .#{$type}-sticker {
      position: absolute;
      top: 0px;
      right: 16px;
      transform: translateY(-50%);
    }

    &.is-horizontal {
      flex-direction: row;
      align-items: center;
      max-width: unset;
      width: 100%;
      position: relative;
      text-align: left;
      padding: $spacing-4 $spacing-4 $spacing-4 $spacing-8;
      align-items: center;

      &.is-narrow {
        width: fit-content;
      }

      label.#{$type}-label {
        &:before,
        &:after {
          top: 50% !important;
          transform: translateY(-50%);
        }
      }

      & > .icon {
        margin-right: $spacing-4;
      }

      &[aria-checked="true"] {
        padding: ($spacing-4 - 1px) ($spacing-4 - 1px) ($spacing-4 - 1px) ($spacing-8 - 1px);
      }
    }
  }
}
