@mixin spinner {
  animation: spinAround 500ms infinite linear;
  border: 2px solid getColor('neutral-fade');
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: '';
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}
