// The container horizontal gap, which acts as the offset for breakpoints
$gap: 24px !default;

$tablet: 768px !default;
$desktop: 984px + 2 * $gap !default;
$widescreen: 1192px + 2 * $gap !default;
$fullhd: 1340px + 2 * $gap !default;
