$size-1: 32px;
$size-2: $text-28;
$size-3: $text-24;
$size-4: $text-20;
$size-5: $text-18;
$size-6: 14px !default;
$size-7: $text-12;
$size-8: $text-11;
$size-1-desktop: $text-48;
$size-2-desktop: $text-38;
$size-3-desktop: $text-28;
$size-4-desktop: $text-24;
$size-5-desktop: $text-18;
$size-6-desktop: 14px !default;
$size-7-desktop: $text-12;
$size-8-desktop: $text-11;
