/*
Colors for buttons
  @string slug name used in classname (You can use your brand name)
  @color-background The name of the color in the color map for the background
  @color-text The name of the color in the color map for the text
  */
$button-colors: (
  'accent':['conversion', 'alternate', 'background'],
  'primary': ['primary', 'main', 'background'],
  'secondary': ['secondary', 'bg-main', 'main'],
  'ghost': ['ghost', 'background', 'main'],
  'loading':['loading','disabled','neutral']
) !default;

%buttons-states {
  #{$hoverSelector} {
    filter: brightness(0.8);
    &.is-primary {
      filter: brightness(1.2);
    }
  }
  &:active:not(:disabled) {
    filter: brightness(0.7);
  }

  &:focus-visible,
  &:focus:focus-visible {
    outline: var(--border-active);
    outline-offset: 2px;
  }
}
