@use "../base/_color.scss" as color;

:root {
  --radius: 8px;
  --radius-medium: 8px;
  --radius-small: 4px;
  --radius-large: 16px;
  --border: 1px solid #{color.getColor('neutral')};
  --border-active: 2px solid #{color.getColor('main')};
}
