.accordions#{$suffix} {
  padding-left: 0;
  padding-right: 0;
  margin: $spacing-4 0;

  details.accordion ::-webkit-details-marker {
    display: none;
    content: "";
  }

  .accordion {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: getColor('background');
    font-size: $size-normal;
    border: var(--border);
    border-radius: var(--radius);
    margin: 8px 0;
    min-height: 56px;
    max-height: max-content;
    transition: margin 0.3s;

    .accordion-header {
      font-weight: bold;
    }

    .accordion-body {
      padding: $spacing-4;
      padding-top: 0 !important;
    }

    &:has(summary:hover):not(.is-disabled) {
      @include hoverRules();
    }

    &:has(summary:focus-visible) {
      outline: var(--border-active);
      outline-offset: -2px;
    }

    .accordion-header:after {
      max-width: 15px;
      max-height: 15px;
      position: absolute;
      margin-top: 0;
      right: 20px;
    }

    &[open]:not([aria-disabled="true"]) .accordion-header:after {
      transform: rotate(180deg);
    }

    .accordion-header:after, &[aria-disabled="true"] .accordion-header:after {
      @include arrow();
      transition: transform 0.3s;
    }

    &[aria-disabled="true"] .accordion-body {
      display: none !important;
    }

    .accordion-header {
        border-radius: var(--radius);
      transition: margin 300ms ease-out;

      &:focus-visible{
        outline: none;
      }

    }

    &[open] .accordion-header {
      margin-bottom: 4px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .accordion-header {
      align-items: center;
      display: flex;
      position: relative;
      height: auto;
      cursor: pointer;
      padding: $spacing-4;

      &.is-grouped {
        > *:first-child {
          flex-grow: 0;
        }
      }

      .field:not(:last-child) {
        margin-bottom: 0;
      }

      .accordion-title {
        .title {
          margin: 0;
        }

        @include mobile() {
          flex-grow: 1;
        }
      }

      p {
        margin-bottom: 0;
      }

      & + .accordion-body {
        overflow-y: hidden;

        .accordion-content {
          border-radius: var(--radius);
          margin-bottom: 10px;

          @include mobile() {
            padding: 15px;
          }
        }
      }
    }

    .accordion-body {
      .accordion-content,
      p:last-child {
        margin-bottom: 0 !important;
        padding: 0 !important;
      }
    }
  }
}
