body:not(.is-tight) {
  .accordions:not(:last-child) {
    margin-bottom: 24px;
  }
  .card:not(:last-child) {
    margin-bottom: 24px;
  }
  .box:not(:last-child) {
    margin-bottom: 24px;
  }
  .table:not(:last-child) {
    margin-bottom: 24px;
  }
  .list:not(:last-child) {
    margin-bottom: 24px;
  }
  .timeline:not(:last-child) {
    margin-bottom: 24px;
  }
  .stepper:not(:last-child) {
    margin-bottom: 24px;
  }
  .pagination:not(:last-child) {
    margin-bottom: 24px;
  }
  .segmented-control:not(:last-child) {
    margin-bottom: 24px;
  }
  .tabs:not(:last-child) {
    margin-bottom: 24px;
  }
  .range:not(:last-child) {
    margin-bottom: 24px;
  }
  .stepper:not(:last-child) {
    margin-bottom: 24px;
  }
  .price-container:not(:last-child) {
    margin-bottom: 12px;
  }
  .buttons:not(:last-child) {
    margin-bottom: 24px;
  }
  .countdown:not(:last-child) {
    margin-bottom: 16px;
  }
  .countdown.is-small:not(:last-child) {
    margin-bottom: 12px;
  }
  .chips-list:not(:last-child) {
    margin-bottom: 12px;
  }
  p.text:not(:last-child) {
    margin-bottom: 12px;
  }
  .progress:not(:last-child) {
    margin-bottom: 8px;
  }
  .progress-radial:not(:last-child) {
    margin-bottom: 8px;
  }
  .radio:not(:last-child) {
    margin-bottom: 12px;
  }
  .checkbox:not(:last-child) {
    margin-bottom: 12px;
  }
  .switch:not(:last-child) {
    margin-bottom: 12px;
  }
  .radio-tile:not(:last-child) {
    margin-bottom: 24px;
  }
  .checkbox-tile:not(:last-child) {
    margin-bottom: 24px;
  }
  .field:not(:last-child) {
    margin-bottom: 24px;
  }
  .control:not(:last-child) {
    margin-bottom: 4px;
  }
  .help:not(:last-child) {
    margin-bottom: 4px;
  }
  .textarea:not(:last-child) {
    margin-bottom: 16px;
  }
  .select:not(:last-child) {
    margin-bottom: 16px;
  }
  .link:not(:last-child) {
    margin-bottom: 12px;
  }
  .sticker:not(:last-child) {
    margin-bottom: 8px;
  }
  .tag:not(:last-child) {
    margin-bottom: 8px;
  }
  .title.is-level-1:not(:last-child) {
    margin-bottom: 40px;
  }
  .title.is-level-2:not(:last-child) {
    margin-bottom: 32px;
  }
  .title.is-level-3:not(:last-child) {
    margin-bottom: 16px;
  }
  .title.is-level-4:not(:last-child) {
    margin-bottom: 12px;
  }
  .title.is-level-5:not(:last-child) {
    margin-bottom: 12px;
  }
  .title.is-level-6:not(:last-child) {
    margin-bottom: 12px;
  }
  .overline:not(:last-child) {
    margin-bottom: 0px;
  }
  .title:has(+.subtitle):not(:last-child) {
    margin-bottom: 8px;
  }
  .title.is-level-1 + .subtitle:not(:last-child) {
    margin-bottom: 32px;
  }
  .title.is-level-2 + .subtitle:not(:last-child) {
    margin-bottom: 24px;
  }
  .title.is-level-3 + .subtitle:not(:last-child) {
    margin-bottom: 24px;
  }
  .title.is-level-4 + .subtitle:not(:last-child) {
    margin-bottom: 12px;
  }
  .title.is-level-5 + .subtitle:not(:last-child) {
    margin-bottom: 12px;
  }
  .title.is-level-6 + .subtitle:not(:last-child) {
    margin-bottom: 12px;
  }
}

@include mobile() {
  body:not(.is-tight) {
    .accordions:not(:last-child) {
      margin-bottom: 16px;
    }
  .card:not(:last-child) {
      margin-bottom: 16px;
    }
  .box:not(:last-child) {
      margin-bottom: 16px;
    }
  .table:not(:last-child) {
      margin-bottom: 16px;
    }
  .list:not(:last-child) {
      margin-bottom: 16px;
    }
  .timeline:not(:last-child) {
      margin-bottom: 16px;
    }
  .stepper:not(:last-child) {
      margin-bottom: 16px;
    }
  .pagination:not(:last-child) {
      margin-bottom: 16px;
    }
  .segmented-control:not(:last-child) {
      margin-bottom: 16px;
    }
  .tabs:not(:last-child) {
      margin-bottom: 16px;
    }
  .range:not(:last-child) {
      margin-bottom: 16px;
    }
  .stepper:not(:last-child) {
      margin-bottom: 16px;
    }
  .price-container:not(:last-child) {
      margin-bottom: 8px;
    }
  .buttons:not(:last-child) {
      margin-bottom: 16px;
    }
  .countdown:not(:last-child) {
      margin-bottom: 12px;
    }
  .countdown.is-small:not(:last-child) {
      margin-bottom: 12px;
    }
  .chips-list:not(:last-child) {
      margin-bottom: 12px;
    }
  p.text:not(:last-child) {
      margin-bottom: 8px;
    }
  .progress:not(:last-child) {
      margin-bottom: 8px;
    }
  .progress-radial:not(:last-child) {
      margin-bottom: 8px;
    }
  .radio:not(:last-child) {
      margin-bottom: 12px;
    }
  .checkbox:not(:last-child) {
      margin-bottom: 12px;
    }
  .switch:not(:last-child) {
      margin-bottom: 12px;
    }
  .radio-tile:not(:last-child) {
      margin-bottom: 16px;
    }
  .checkbox-tile:not(:last-child) {
      margin-bottom: 16px;
    }
  .field:not(:last-child) {
      margin-bottom: 16px;
    }
  .control:not(:last-child) {
      margin-bottom: 4px;
    }
  .help:not(:last-child) {
      margin-bottom: 4px;
    }
  .textarea:not(:last-child) {
      margin-bottom: 16px;
    }
  .select:not(:last-child) {
      margin-bottom: 16px;
    }
  .link:not(:last-child) {
      margin-bottom: 8px;
    }
  .sticker:not(:last-child) {
      margin-bottom: 8px;
    }
  .tag:not(:last-child) {
      margin-bottom: 8px;
    }
  .title.is-level-1:not(:last-child) {
      margin-bottom: 32px;
    }
  .title.is-level-2:not(:last-child) {
      margin-bottom: 24px;
    }
  .title.is-level-3:not(:last-child) {
      margin-bottom: 12px;
    }
  .title.is-level-4:not(:last-child) {
      margin-bottom: 8px;
    }
  .title.is-level-5:not(:last-child) {
      margin-bottom: 8px;
    }
  .title.is-level-6:not(:last-child) {
      margin-bottom: 8px;
    }
  .overline:not(:last-child) {
      margin-bottom: 0px;
    }
  .title:has(+.subtitle):not(:last-child) {
      margin-bottom: 8px;
    }
  .title.is-level-1 + .subtitle:not(:last-child) {
      margin-bottom: 40px;
    }
  .title.is-level-2 + .subtitle:not(:last-child) {
      margin-bottom: 32px;
    }
  .title.is-level-3 + .subtitle:not(:last-child) {
      margin-bottom: 32px;
    }
  .title.is-level-4 + .subtitle:not(:last-child) {
      margin-bottom: 8px;
    }
  .title.is-level-5 + .subtitle:not(:last-child) {
      margin-bottom: 8px;
    }
  .title.is-level-6 + .subtitle:not(:last-child) {
      margin-bottom: 8px;
    }

  }
}
