@import "../utilities/spacing";

.is-autocomplete-container {
  position: relative;

  .field{
    margin: 0!important;
  }

  .is-autocomplete {
    .autocomplete-menu {
      display: none;
    }

    &.is-active {
      .autocomplete-menu {
        display: block;
        border: var(--border-style);
        padding: calc(var(--spacing-xxs) + 1px) calc(var(--spacing-xs) + 2px);
        border-radius: var(--radius-xs);
        max-height: 220px;
        overflow-y: auto;
        background-color: var(--bg-primary);
        z-index: 10000;
        margin-top: var(--spacing-xs);
      }

      .autocomplete-item {
        cursor: pointer;
        padding: calc(var(--spacing-xxs) - 0.25px) calc(var(--spacing-xxs) + 1px);

        &.is-active, &[data-autocomplete-item-hover] {
          @include hoverRules();
          margin-left: calc(2px - var(--spacing-sm));
          margin-right: calc(2px - var(--spacing-sm));
          // border-top: 1px solid getColor('neutral-fade');
          // border-bottom: 1px solid getColor('neutral-fade');
          padding: calc(var(--spacing-xxs) - 1.25px) calc(var(--spacing-md) - 1px);
        }
      }
    }
  }
}
