body:not(.is-tight) {
  .box {
    margin-top: 12px;
  }
  .box:not(:first-child) + * {
    margin-top: 12px;
  }
  * + .box {
    margin-top: 8px;
  }
  .text {
    margin-top: 8px;
  }
  .card {
    margin-top: 12px;
  }
  .button {
    margin-top: 12px;
  }
  .accordions {
    margin-top: 12px;
  }
  .alert {
    margin-top: 12px;
  }
  .field {
    margin-top: 8px;
  }
  .chips-list {
    margin-top: 12px;
  }
  .tags {
    margin-top: 12px;
  }
  .chips-list {
    margin-top: 12px;
  }
}
