.title .badge {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.badge-container {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 40px;
  min-height: 40px;

  .badge,
  .badge-icon {
    position: absolute;
    top: 0;
    right: 0;

    &.is-bottom-left {
      bottom: 0;
      left: 0;
      right: auto;
      top: auto;
    }

    &.is-bottom-right {
      bottom: 0;
      right: 0;
      top: auto;
    }

    &.is-top-left {
      top: 0;
      left: 0;
      right: auto;
    }
  }

  .badge-icon {
    width: $font-size-400;
    height: $font-size-400;
  }
}

.badge {
  display: inline-flex;
  border-radius: var(--radius-full);
  color: var(--text-inverse);
  background: var(--bg-secondary);
  font-size: var(--body-4-size);
  min-height: $font-size-400;
  min-width: $font-size-400;
  justify-content: center;
  align-items: center;

  &:empty {
    min-width: var(--body-4-size);
    min-height: var(--body-4-size);
  }

  &.is-inverted {
    color: var(--text-primary) !important;
    background: var(--background-primary) !important;
  }
}

[data-badge-number] {
  position: relative;

  &::after {
    content: attr(data-badge-number);
    position: absolute;
    margin-left: -15px;
    top: -7px;
    color: var(--text-inverse);
    left: 100%;
    background: var(--bg-secondary);
    font-size: var(--body-4-size);
    min-height: $font-size-400;
    min-width: $font-size-400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
  }
}
