@use "../base/color";
@use "../utilities/mixins";
@use "../utilities/spacing";

.breadcrumb {
  @include mixins.block;
  @include mixins.unselectable;

  ul,
  ol {
    display: flex;
    flex-wrap: wrap;
    gap: spacing.$spacing-2;
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;

    + li::before {
      content: "";
      width: 18px;
      height: 18px;
      mask-image: url('./assets/icons/all/arrow-right.svg');
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      background-color: #1b3650;
      margin-right: spacing.$spacing-2;
    }
  }

  a {
    color: color.getColor('main');
    text-decoration: underline 2px solid;
    text-underline-offset: 4px;
  }
}
