.breadcrumb {
  @include block;
  @include unselectable;

  ul,
  ol {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-3;
  }

  li {
    position: relative;
    @include desktop {
      display: flex;
    }

    + li::before {
      content: ">";
      padding-right: $spacing-3;
    }
  }

  a {
    color: getColor('main');
    text-decoration: underline 2px solid;
    text-underline-offset: 4px;
  }
}
