$noDisabled: ":not(:disabled):not([aria-disabled=true]):not(.is-loading)";
$button-variants: (
  conversion: accent,
  primary: primary,
  secondary: secondary,
  ghost: ghost,
);


%buttons-states {
  &:focus-visible,
  &:focus:focus-visible {
    outline: 2px solid var(--border) !important;
    outline-offset: 2px;
  }
}


.Buttons {
  display: flex;
  width: 100%;
  gap: 16px;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  &.is-centered,
  &.has-text-centered,
  .has-text-centered & {
    justify-content: center;
  }
}

.Button {
  @include control;
  @include unselectable;
  @extend %buttons-states;

  background-color: white;
  border-width: var(--border-width-md);
  border-radius: var(--radius-sm);
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  padding: 0 var(--spacing-md);
  text-decoration: inherit;
  font-weight: var(--font-weight-body-1-bold);
  height: $size-inputs;

  @include mobile {
    width: 100%;
  }

  &.Button-conversion {
    border-color: var(--btn-bg-accent);
    background-color: var(--btn-bg-accent);
    color: var( --btn-text-accent);
    &:hover {
      border-color: var(--btn-bg-accent-hover);
      background-color: var(--btn-bg-accent-hover);
    }
  }

  &.Button-primary {
    border-color: var(--btn-bg-primary);
    background-color: var(--btn-bg-primary);
    color: var( --btn-text-primary);
    &:hover {
      border-color: var(--btn-bg-primary-hover);
      background-color: var(--btn-bg-primary-hover);
    }
  }

  &.Button-secondary {
    border-color: var(--btn-border-secondary);
    background-color: var(--btn-bg-secondary);
    color: var( --btn-text-secondary);
    &:hover {
      background-color: var(--btn-bg-secondary-hover);
    }
  }
  
  &.Button-ghost {
    border-color: var(--btn-bg-ghost);
    background-color: var(--btn-bg-ghost);
    color: var( --btn-text-ghost);
    &:hover {
      background-color: var(--btn-bg-ghost-hover);
    }
  }

  &[disabled],
  &[aria-disabled=true] {
    border-color: transparent !important;
    background-color: var(--bg-disabled) !important;
    color: var(--text-disabled) !important;
  }

  [aria-disabled=true] {
    pointer-events: none;
  }
  &:has(.icon) {
    gap: var(--spacing-xs);
  }

  .icon:not([class*='has-background-']) {
    width: auto;
  }

  &.is-loading {
    background-color: var(--bg-disabled);
    border-color: var(--bg-disabled);
    &::after {
      @include spinner('neutral-fade');
    }
  }

}

