$noDisabled: ":not(:disabled):not([aria-disabled=true]):not(.is-loading)";
$button-variants: (
  conversion: accent,
  primary: primary,
  secondary: secondary,
  ghost: ghost,
);


%buttons-states {
  &:focus-visible,
  &:focus:focus-visible {
    outline: 2px solid var(--border-style) !important;//CHECK
    outline-offset: 2px;
  }
}


.Buttons {
  display: flex;
  width: 100%;
  gap: 16px;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  &.is-centered,
  &.has-text-centered,
  .has-text-centered & {
    justify-content: center;
  }
}

.Button {
  @include control;
  @include unselectable;
  @extend %buttons-states;

  background-color: white;
  border-width: var(--border-width-md);//CHECK
  border-radius: var(--radius-sm);//CHECK
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  padding: 0 var(--spacing-md);//CHECK
  text-decoration: inherit;
  font-weight: var(--font-weight-body-1-bold);//CHECK
  height: $size-inputs;

  @include mobile {
    width: 100%;
  }

  //CHECK
  // @each $variant, $token in $button-variants {
  //   &.Button-#{$variant} {
  //     border-color: var(--btn-bg-#{$token});
  //     background-color: var(--btn-bg-#{$token});
  //     color: var(--btn-text-#{$token});

  //     &:hover {
  //       border-color: var(--btn-bg-#{$token}-hover);
  //       background-color: var(--btn-bg-#{$token}-hover);
  //     }
  //   }
  // }

  &.Button-conversion {
    border-color: var(--btn-bg-accent);//CHECK
    background-color: var(--btn-bg-accent);//CHECK
    color: var( --btn-text-accent);//CHECK
    &:hover {
      border-color: var(--btn-bg-accent-hover);//CHECK
      background-color: var(--btn-bg-accent-hover);//CHECK
    }
  }

  &.Button-primary {
    border-color: var(--btn-bg-primary);//CHECK
    background-color: var(--btn-bg-primary);//CHECK
    color: var( --btn-text-primary);//CHECK
    &:hover {
      border-color: var(--btn-bg-primary-hover);//CHECK
      background-color: var(--btn-bg-primary-hover);//CHECK
    }
  }

  &.Button-secondary {
    border-color: var(--btn-border-secondary);//CHECK
    background-color: var(--btn-bg-secondary);//CHECK
    color: var( --btn-text-secondary);//CHECK
    &:hover {
      background-color: var(--btn-bg-secondary-hover);//CHECK
    }
  }
  
  &.Button-ghost {
    border-color: var(--btn-bg-ghost);//CHECK
    background-color: var(--btn-bg-ghost);//CHECK
    color: var( --btn-text-ghost);//CHECK
    &:hover {
      background-color: var(--btn-bg-ghost-hover);//CHECK
    }
  }

  &[disabled],
  &[aria-disabled=true] {
    border-color: transparent !important;
    background-color: var(--bg-disabled) !important;//CHECK
    color: var(--text-disabled) !important;//CHECK
  }

  [aria-disabled=true] {
    pointer-events: none;
  }
  &:has(.icon) {
    gap: var(--spacing-xs);//CHECK
  }

  .icon:not([class*='has-background-']) {
    width: auto;
  }

  &.is-loading {
    //background-color: getColor('neutral');//CHECK
    &::after {
      @include spinner('neutral-fade');
    }
  }

}

