.calendar {
    border-collapse: collapse;
    width: 400px;

    button {
      all: unset;
      &:focus-visible, &:hover{
        cursor: pointer;
        background-color: getColor('disabled-fade');
      }
    }

    &-header {
      background-color: getColor('main-fade');
    }

    &-next-month {
      text-align: end !important;
    }

    &-week-day-label {
      padding: 10px;
      text-align: center;
      width: 56px;
    }

    &-week-day, &-year {
      padding: 10px;
      border: 1px solid getColor('main');
      text-align: center !important;
      vertical-align: middle;
      button {
        display: block;
        width: 100%;
      }

      &-disabled {
        color: getColor('neutral');
      }
    }

    &-active-month {
      height: 28px;
      text-align: center !important;
      position: relative;
      .icon {
        vertical-align: bottom;
      }
    }

    &-active-date button{
      background-color: getColor('main-fade');
    }

  }
