.countdown {
  background-color: var(--color-accent-fade);
  border-radius: var(--radius);
  display: inline-flex;
  padding: $spacing-2;
  color: getColor('font');

  .count {
    font-family: $family-primary;
    font-size: $text-12;
    font-weight: 400;
    list-style-type: none;
    text-align: center;
    padding: 0 $spacing-1;
    position: relative;
    min-width: 46px;

    &:not(:last-child)::after {
      content: ':';
      position: absolute;
      right: -3px;
      top: 50%;
      transform: translateY(-50%);
      font-size: $text-12;
      font-weight: 600;
      width: 6px;
    }

    .value {
      font-size: $text-20;
      list-style: 28px;
      font-weight: 600;
    }
  }

  &.is-small {
    padding: $spacing-2 $spacing-1;
    border-radius: var(--radius);

    .count {
      font-size: $text-12;
      font-weight: 500;
      min-width: 42px;

      &:not(:last-child)::after {
        font-size: $text-16;
      }

      .value {
        font-size: $text-16;
        line-height: 21px;
        font-weight: 600;
      }
    }
  }
}
