.countdown {
  background-color: var(--color-accent-fade);
  border-radius: var(--radius-sm);
  display: inline-flex;
  padding: var(--spacing-xs);
  color: var(--text-primary);

  .count {
    font-family: $family-primary;
    font-size: var(--body-3-size);
    font-weight: 400;
    list-style-type: none;
    text-align: center;
    padding: 0 var(--spacing-xxs);
    position: relative;
    min-width: 46px;

    &:not(:last-child)::after {
      content: ':';
      position: absolute;
      right: -3px;
      top: 50%;
      transform: translateY(-50%);
      font-size: var(--body-3-size);
      font-weight: 600;
      width: 6px;
    }

    .value {
      font-size: $font-size-400;
      list-style: 28px;
      font-weight: 600;
    }
  }

  &.is-small {
    padding: var(--spacing-xs) var(--spacing-xxs);
    border-radius: var(--radius-sm);

    .count {
      font-size: var(--body-3-size);
      font-weight: 500;
      min-width: 42px;

      &:not(:last-child)::after {
        font-size: $text-16;
      }

      .value {
        font-size: $text-16;
        line-height: 21px;
        font-weight: 600;
      }
    }
  }
}
