.date-picker {
  input {
    all: unset;
    width: 20px;
    outline: none;
    text-align: center;
    caret-color: transparent;
    &:last-child {
      width: 40px;
    }
    &:focus-visible {
      background-color: getColor('main-fade')
    }
    &::selection {
      background-color: getColor('main-fade')
    }
  }

  .input {
    &.is-focused {
      border: 2px solid  currentColor;
      padding-left: 15px !important;
      background-color: getColor('background') !important;
    }
    &:active {
      padding-left: 15px !important;
    }
    &[aria-disabled="true"] {
      &:active {
        padding-left: 16px !important;
      }
      & input::selection {
        background-color: transparent !important
      }
    }
  }

  .modal {
    flex-direction: inherit;
    .modal-content, .modal-header {
      background-color: transparent !important;
    }
    .modal-body {
      display: flex;
      align-items: center;
      justify-content: center;
      .calendar {
        height: 440px;
      }
    }
  }
  
}