.divider {
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

  p.divider-content {
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;

    &::before {
      content:'';
      flex: 1;
      height: 1px;
      background-color: getColor('neutral');
    }
    &::after {
      content:'';
      flex: 1;
      height: 1px;
      background-color: getColor('neutral');
    }

    &:not(:empty) {
      &::before {
        margin-right: $spacing-4;
      }
      &::after {
        margin-left: $spacing-4;
      }
    }
  }

  &:not(.is-marginless) {
    margin: $spacing-5 0;
  }

  @include mobile {
    &:not(.is-marginless) {
      margin: $spacing-4 0;
    }
  }
}

*:has(+ .divider) {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

