.divider {
    position: relative;
    text-align: center;
    background-color: getFadeColor('neutral');
    height: 1px;
    width: 100%;

    p.divider-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        padding: 0 $spacing-4;
        background-color: invertColor('neutral');
    }
}
