.fab {
  background-color: getColor('font');
  border-radius: 16px;
  cursor: pointer;
  height: 56px;
  color: white;
  padding: $spacing-4;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  transition: 0.4s;
  border: 0;
  box-shadow: 0px 3px 6px 0px #00000033;
  font-style: normal;
  font-weight: 600;
  font-size: 0;
  line-height: 20px;

  z-index: 9;

  #{$hoverSelector}, &.is-extended, &:focus, &:focus-visible, &:focus-within {
    background-color: getColor('hovered');
    transition: 0.5s;
    font-size: initial;

    .icon,
    .icon .is-small,
    .icon .is-medium,
    .icon .is-large {
      margin-right: 16px;
    }
  }

  &:active {
    background-color: getColor('hovered');
  }

  .icon {
    font-size: 24px !important;
    margin-left: -6px;
    margin-right: -6px;
    color: white;
  }

}
