.fab {
  background-color: getColor('font');
  border-radius: 16px;
  cursor: pointer;
  height: 56px;
  padding: $spacing-4;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  transition: max-width 500ms ease-out;
  color: white;
  border: 0;
  box-shadow: 0px 3px 6px 0px #00000033;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  z-index: 9;
  overflow: hidden;
  max-width: 54px;
  white-space: nowrap;

  #{$hoverSelector}, &.is-extended, &:focus, &:focus-visible, &:focus-within {
    background-color: getColorMainHovered();
    max-width: 300px;
  }

  &:active {
    background-color: getColorMainHovered();
  }

  .icon {
    flex: none;
    font-size: 24px !important;
    margin-left: -6px;
    margin-right: 8px;
    color: white;

  }
}
