// Bullet list classiques
ol.list {
  counter-reset: customCounter;

  & > li.list-item {
    counter-increment: customCounter;
    &:not(:has(.icon)) {
      &::before{
        content: counter(customCounter) ". ";
        margin-right:$spacing-4;
        font-weight: $weight-bold;
        font-size: $text-14 !important;
        font-family: $family-secondary;
        line-height: 1.5 !important;

      }
    }
  }
}

ul.list {
  li.list-item {
    &:not(:has(.icon)) {
      &::before{
        content:'.';
        margin-right:$spacing-4;
        font-weight: 900;
        font-size: $text-24;
        line-height: 8px;
      }
    }
  }
}

ul.list,
ol.list {
  display: grid;
  row-gap: $spacing-3;

  li.list-item {
    display: flex;
    &:has(.icon) {
      list-style: none;
      display: flex;
    }
    .icon {
      margin-right: $spacing-2;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .list-item-content {
      flex: 1; 
    }
  }

  &.has-divider {
    li {
      border-bottom: var(--border);
      padding-bottom: $spacing-3;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}
