// Bullet list classic
ol.list {
  li.list-item {
    &:not(:has(> .icon)) {
      margin-left: 19px;
      &::marker{
        font-weight: 600;
      }
    }
  }
}

ul.list {
  li.list-item {
    &:not(:has(> .icon)) {
      margin-left: 18px;
      list-style: disc;
    }
  }
}

ul.list,
ol.list {
  display: grid;
  row-gap: $spacing-3;
  li.list-item {
    &:has(>.icon) {
      display: flex;
    }
    > .icon {
      margin-right: $spacing-2;
      justify-content: flex-start;
      align-items: flex-start;
      height: auto;
    }
  }


  &.has-divider {
    li {
      border-bottom: var(--border);
      padding-bottom: $spacing-3;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}
