@use "../base/color";
@use "../utilities/initial-variables";
@use "../utilities/mixins";

.otp-list {
  display: flex;
  flex-wrap: nowrap;

  .otp {
    @include mixins.hover();
    outline: none;
    border: var(--border);
    border-radius: var(--radius-small);
    background: transparent;
    width: 33px;
    height: 40px;
    margin: 4px 4px 0 4px;
    text-align: center;
    color: color.getColor('main');

    &:first-child {
      margin: 4px 4px 0 0;
    }

    &:last-child {
      margin: 4px 0 0 4px;
    }

  }

  &.is-danger {
    .otp {
      border: 1px solid color.getColor('error');
    }
  }

  &.is-filled {
    .otp {
      color: color.getColor('font')
    }
  }

  &.is-focus {
    .otp {
      border: 1px solid color.getColor('font');;
      color: color.getColor('font')
    }
  }


  &.is-error {
    .otp {
      border: 1px solid color.getColor('error');
      color: color.getColor('font')
    }
  }

}

.otp-list:focus-within {
  .otp {
    border: 1px solid color.getColor('font');;
    color: color.getColor('font');
  }
}

.otp-list.is-error:focus-within {
  .otp {
    border: 1px solid color.getColor('error');
    color: color.getColor('font');
  }
}

.help {
  font-size: initial-variables.$text-12;
  margin-top: 4px;
}
