.otp-list {
  display: flex;
  flex-wrap: nowrap;

  .otp {
    @include hover();
    outline: none;
    border: var(--border-style);
    border-radius: var(--radius-sm);
    background: transparent;
    width: 33px;
    height: 48px;
    margin: 4px 4px 0 4px;
    text-align: center;
    color: var(--text-primary);

    &:first-child {
      margin: 4px 4px 0 0;
    }

    &:last-child {
      margin: 4px 0 0 4px;
    }

  }

  &.is-danger {
    .otp {
      border: 1px solid var(--border-error);
    }
  }

  &.is-filled {
    .otp {
      color: var(--text-primary)
    }
  }

  &.is-focus {
    .otp {
      border: 1px solid var(--border);
      color: var(--text-primary)
    }
  }


  &.is-error {
    .otp {
      border: 1px solid var(--border-error);
      color: var(--text-primary)
    }
  }

}

.otp-list:focus-within {
  .otp {
    border: 1px solid var(--border);
    color: var(--text-primary);
  }
}

.otp-list.is-error:focus-within {
  .otp {
    border: 1px solid var(--border-error);
    color: var(--text-primary);
  }
}

.help {
  font-size: var(--body-3-size);
  margin-top: 4px;
}
