.otp-list {
  display: flex;
  flex-wrap: nowrap;

  .otp {
    @include hover();
    outline: none;
    border: 1px solid currentColor;
    border-radius: $radius-small;
    background: transparent;
    width: 33px;
    height: 40px;
    margin: 4px 4px 0 4px;
    text-align: center;
    color: getColor('neutral');

    &:first-child {
      margin: 4px 4px 0 0;
    }

    &:last-child {
      margin: 4px 0 0 4px;
    }

  }

  &.is-danger {
    .otp {
      border: 1px solid getColor('error');
    }
  }

  &.is-filled {
    .otp {
      color: getColor('font')
    }
  }

  &.is-focus {
    .otp {
      border: 1px solid getColor('font');;
      color: getColor('font')
    }
  }


  &.is-error {
    .otp {
      border: 1px solid getColor('error');
      color: getColor('font')
    }
  }

}

.otp-list:focus-within {
  .otp {
    border: 1px solid getColor('font');;
    color: getColor('font');
  }
}

.otp-list.is-error:focus-within {
  .otp {
    border: 1px solid getColor('error');
    color: getColor('font');
  }
}

.otp-error-message {
  font-size: $text-12;
  margin-top: 4px;
}
