.pagination {
  font-size: $size-normal;
  margin: -2.5px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  li {
    display: flex;
  }

  .pagination-previous,
  .pagination-next,
  .pagination-link,
  .pagination-ellipsis {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    display: inline-flex;

    // bug fix pour iOS qui zoom sur le champ si la police ne fait pas 16px
    @supports (-webkit-overflow-scrolling: touch) {
      font-size: $text-16;
    }

    &:focus,
    &:active {
      outline: none;

      // répétition nécessaire : bug fix pour iOS qui zoom sur le champ si la police ne fait pas 16px
      @supports (-webkit-overflow-scrolling: touch) {
        font-size: $text-16;
      }
    }

    &[disabled] {
      cursor: not-allowed;
    }

    @include unselectable;
    justify-content: center;
    margin: 2.5px;

    @include hover();
    color: getColor('font');
    height: 35px;
    width: 35px;
    border-radius: 9999px;
    white-space: nowrap;

    &[aria-disabled=true]{
      border-color: transparent !important;
    }
  }

  .pagination-list {
    flex: 0 0 auto;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .pagination-previous {
    order: 1;
  }

  .pagination-list {
    order: 2;
  }

  .pagination-next {
    order: 3;
  }

  .pagination-link {
    &[aria-current] {
      background-color: getColor('font');
      color: getColor('background');
      #{$hoverSelector}, &:focus, &:focus-within {
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)
        ) getColor('font') !important;
      }
    }
  }

  .pagination-ellipsis {
    pointer-events: none;
  }

}


