.pagination {
  font-size: $size-normal;
  margin: -2.5px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  li {
    display: flex;
  }

  .pagination-previous,
  .pagination-next,
  .pagination-link,
  .pagination-ellipsis {
    margin: 2.5px;
    height: 35px;
    width: 35px;
    align-content: center;

    @include unselectable;
    @include hover();
    color: getColor('font');
    border-radius: 9999px;
    white-space: nowrap;

    &[aria-disabled=true]{
      border-color: transparent !important;
    }
  }

  .pagination-list {
    flex: 0 0 auto;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .pagination-previous {
    order: 1;
  }

  .pagination-list {
    order: 2;
  }

  .pagination-next {
    order: 3;
  }

  .pagination-link {
    &[aria-current] {
      background-color: getColor('font');
      color: getColor('background');
      #{$hoverSelector}, &:focus, &:focus-within {
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)
        ) getColor('font') !important;
      }
    }
  }

  .pagination-ellipsis {
    pointer-events: none;
  }

}


