$price-levels: (
    ($text-64),
    ($text-56),
    ($text-44),
    ($text-32),
    ($text-28),
    ($text-24),
    ($text-20),
);

.price-container {
  display: flex;
  align-items: baseline;
  column-gap: 12px;
  flex-wrap: wrap;

  .overline {
    width: 100%;
    flex: none;
    margin: 0;
    --font-size: #{$text-64};
    font-size: calc(var(--font-size) * 0.4);

    @each $price-level in $price-levels {
      $i: index($price-levels, $price-level);
      $font-size: nth($price-level, 1);

      &:has(~ .price.is-level-#{$i}:not(.is-striked)) {
        --font-size: #{$font-size};
      }
    }
  }
}

.price {
  display: inline-flex;
  font-weight: $weight-semibold;
  line-height: 0.8;
  margin-bottom: 0;

  &:not(.is-inlined) {
    font-size: $text-44;
  }

  @each $price-level in $price-levels {
    $i: index($price-levels, $price-level);
    $font-size: nth($price-level, 1);

    &.is-level-#{$i} {
      font-size: $font-size;

      @if $i == 1 {
        + .price-tag {
          span:nth-child(2) {
            font-size: $text-16;
          }
        }
      }

      @if $i == 2 {
        + .price-tag {
          font-size: 22px;
          span:nth-child(2) {
            font-size: $text-16;
          }
        }
      }

      @if $i == 3 {
        + .price-tag {
          font-size: 16px;
          span:nth-child(2) {
            font-size: $text-16;
          }
        }
      }

      @if $i < 4 {
        + .price-tag {
          span:nth-child(2) {
            place-self: flex-end;
            margin-bottom: 3px;
          }
        }
      }

      @if $i > 4 {
        .price-details {
          padding-left: 2px !important;
        }
      }
      @if $i > 3 {
        + .price-tag {
          &::before {
            border-width: 3px;
            margin-left: -6px;
            margin-top: 4px;
            border-radius: 1px;
          }
          font-size: $text-10;
          padding: 4px !important;
        }
      }
    }

    // the details : cents + period

    .price-details {
      padding-left: $spacing-1;

      .cents,
      .centimes,
      .periode,
      .period {
        line-height: 1;
        display: block;
      }

      .cents,
      .centimes {
        font-weight: 600;
        font-size: 0.475em;
        vertical-align: top;
        text-align: left;

        sup {
          font-weight: $weight-medium;
          padding-left: 2px;
          top: -0.3em;
        }
      }

      .period,
      .periode {
        font-size: 0.375em;
        margin-top: 0;
        padding-left: 0.1em;
        text-align: left;
      }
    }


  }

  &.is-inverted {
    color: getColor('background');
  }

  &.has-description {
    .cents,
    .centimes {
      align-items: flex-start;
      display: flex;
    }

    .icon {
      height: inherit;
      width: inherit;
    }
  }

  &.is-inlined {
    .price-details {
      display: inline-flex;
      margin-left: 0;
      padding-left: 0 !important;

      .cents,
      .centimes,
      .periode,
      .period {
        font-size: inherit;
        line-height: 0.8;
        padding-left: 0;
      }
    }

    &.is-striked {
      &::before {
        transform: rotate(-12deg);
      }
    }
  }

  &.is-striked {
    position: relative;
    color: getFadeColor('font');

    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      right: 0;
      border-top: 2px solid;
      border-color: getColor('font');
      border-radius: 5px;
      transform: rotate(-20deg);
    }

    &.is-inverted {
      color: getFadeColor('font');

      &::before {
        border-color: getColor('background');
      }
    }
  }
}

.price-tag {
  align-self: center;
  background-color: getColor('alternate');
  margin-left: 10px;
  border-radius: 6px;
  display: inline-flex;
  color: getColor('background');
  height: fit-content;
  padding: 8px;
  font-size: 28px;
  line-height: 1em;
  align-items: baseline;
  position: relative;
  margin-left: -4px;
  &::before {
    content: '';
    border-color: transparent;
    border-bottom-color: getColor('alternate');
    border-left-color: getColor('alternate');
    transform: rotate(45deg);
    border-style: solid;
    border-width: 5px;
    border-radius: 2px;
    pointer-events: none;
    position: absolute;
    margin-left: -12px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    transform-origin: center;
    height: 0;
    width: 0;
  }
}
