.prompt_ai {
    box-shadow: 0 0 0 1px var(--color-stroke);
    border-radius: var(--radius-small);
    padding: 0px 16px 16px 16px;

    &:focus-within {
        box-shadow: 0 0 0 2px currentColor;
    }

    &-textarea {
        margin-bottom: 0 !important;
        textarea {
            outline: none !important;
            border: 0px !important;
            background-color: initial !important;
            min-height: 20px !important;
            max-height: 250px !important;
            transition: height 0.1s ease;
            padding: 16px 0px 0px 0px !important;
            height: auto;
            resize: none;
        }
    }

    &-files {
        padding-top: 16px;
        &.empty {
            display: none;
        }

        &-img {
            border-radius: 8px;
        }

        &-file {
            margin-bottom: 0px !important;
            width: 72px;
            height: 72px;
        }

        &-doc {
            width: fit-content;
            &-preview {
                width: 40px;
                height: 40px; 
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: none;
            }
            &-card-content {
                padding:8px !important
            }
        }
    }

    &-toolbar {
        display: flex;
        gap: 16px;
        padding-top: 16px;
        align-items: center;

        &-tools {
            display: flex;
            gap: 16px;
            align-items: center;
            margin-right: auto;
        }
        
        &-tool {
            height: 36px;
            margin-bottom: 0 !important;
            
            select {
                height: 36px;
                border-width: 0px !important;
            }

            .field .control::after {
                right: 0px !important;
            }

            &.active {
                background-color: getColor('main') !important;
                .icon i {
                    background-color: getColor('background');
                }
            }
        }

        &-tool.icon-only {
            width: 36px !important;
        }

        &-microphone {
            border-radius: 100px;
        }

    }
}