$height-prompt-item: 64px;

.prompt {
    box-shadow: 0 0 0 1px var(--color-stroke);
    border-radius: var(--radius-small);
    overflow: hidden;
    * {
        margin-bottom: 0px !important;
    }
    &:focus-within {
        box-shadow: 0 0 0 2px currentColor;
    }
    &-textarea {
        textarea {
            outline: none !important;
            border: 0px !important;
            background-color: initial !important;
            min-height: 20px !important;
            max-height: 180px !important;
            transition: height 0.1s ease;
            padding: 16px !important;
            height: auto;
            resize: none;
        } 
    }
    &-files {
        padding: 16px 16px 0px 16px !important;
        margin:0 !important;
        &-img {
            border-radius: 8px;
        }
        &-file {
            width: $height-prompt-item;
            height: $height-prompt-item;
            position: relative;
        }
        &-file-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-doc {
            width: fit-content;
            max-width: 264px;
            &-preview {
                width: 40px;
                height: 40px; 
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: none;
                .box-content {
                    margin: 0px !important;
                }
            }

            &-preview-content {
                max-width: calc(100% - 56px);
            }
            &-card-content {
                padding:8px !important
            }
        }
        &-delete {
            background-color: getColor('main-fade');
            border-radius: 100px;
            height: 20px;
            width: 20px;
        }
        &-delete-img {
            position: absolute;
            top: 2px;
            right: 2px;
        }
    }
    &-toolbar {
        display: flex;
        gap: 16px;
        padding: 0px 16px 16px 16px;
        align-items: center;
        &-tools {
            display: flex;
            gap: 16px;
            align-items: end;
            margin-right: auto;
        }
        &-tool {
            height: 36px;
            select {
                height: 36px;
                border-width: 0px !important;
                max-width: 180px;
                &:focus {
                    padding-left: 16px !important;
                }
                @include mobile {
                    max-width: 110px;
                }
            }
            .field .control::after {
                right: 0px !important;
            }
            &.active {
                background-color: getColor('main') !important;
                .icon i {
                    background-color: getColor('background');
                }
            }
        }
        &-tool.icon_only {
            width: 36px !important;
        }
        &-microphone {
            border-radius: 100px;
        }
        &-tool-submit.streaming {
            padding: 0;
        }

    }

    &-stop_streaming {
        background-color: getColor('background');
        height: 16px;
        width: 16px;
        border-radius: 3px;
    }
}
