@include checkbox-and-radio('radio');

.radios {
  width: 100%;
  column-gap: $spacing-5;
  row-gap: $spacing-3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include tablet {
    flex-direction: row;

    &.is-vertical-desktop {
      flex-direction: column;
    }
  }

  @include mobile {
    &.is-horizontal-mobile {
      flex-direction: row;
    }
  }

  &.is-centered,
  &.has-text-centered,
  .has-text-centered & {
    justify-content: center;
  }
}

.radio,
.radio-tile {
  input:checked ~ label.radio-label {
    cursor: default;

    &:after {
      content: '';
      width: 12px;
      height: 12px;
    }
  }

  label.radio-label {
    &:before,
    &:after {
      border-radius: 9999px;
    }
  }
}

.radio {
  input:checked ~ label.radio-label {
    &:after {
      left: 3px;
    }
  }

  input:not(:disabled):not(:checked) ~ label.radio-label:hover {
    &:before {
      @include hoverRules()
    }
  }

}

.radio-tile {
  input:checked ~ label.radio-label {
    &:after {
      top: 18px;
      left: 18px;
    }
  }

  input:checked:disabled ~ label.radio-label {
    &:after {
      background-color: getColor('neutral');
      top: 19px;
      left: 19px;
    }
  }
}

.radio-tiles {
  &.is-grid {
    display: grid;
    gap: 1rem;
  }
  @for $i from 1 through 12 {
    &.is-grid-cols-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }

  @include mobile {
    @for $i from 1 through 12 {
      &.is-grid-cols-mobile-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
  }

  @include tablet {
    @for $i from 1 through 12 {
      &.is-grid-cols-tablet-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
  }

  @include touch {
    @for $i from 1 through 12 {
      &.is-grid-cols-touch-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
  }

  @include desktop {
    @for $i from 1 through 12 {
      &.is-grid-cols-desktop-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
  }

  @include widescreen {
    @for $i from 1 through 12 {
      &.is-grid-cols-widescreen-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
  }

  @include fullhd {
    @for $i from 1 through 12 {
      &.is-grid-cols-fullhd-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
  }
}
