.segmented-control {
  border-radius: var(--radius-small);
  padding: var(--spacing-xxs);
  background-color: var(--bg-primary);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border: 1px solid getColor('neutral');


  &.justified-start {
    margin-left: 0;
    margin-right: auto;
  }

  &.justified-end {
    margin-right: 0;
    margin-left: auto;
  }

  @include mobile {
    display: flex;
    margin: 24px auto;
    width: 100%;
  }

  .segmented-control-item {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--radius-small);
    font-size: 16px;
    text-align: center;
    border: 2px solid transparent;
    color: var(--text-primary);
    background-color: var(--bg-primary);

    &:not(:last-child) {
      margin-right: 4px;
    }

    @include mobile {
      flex: 1 1 0;
      width: 0;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:hover:not([disabled], [aria-disabled=true], .is-active) {
      cursor: pointer;
      @include hoverRules()
    }

    &.is-active {
      background-color: var(--bg-secondary);
      color: invertColor('main');
    }

    &:disabled{
      border-color: transparent !important;
    }
  }
}
