$switch-margin: 10px !default;
$switch-paddle-offset: 2px !default;
$switch-height: 22px;
$switch-width: $switch-height * 2;
$paddle-height: $switch-height - $switch-paddle-offset * 2;
$paddle-width: $paddle-height;

.switch[type='checkbox'] {
    outline: 0;
    user-select: none;
    display: inline-block;
    position: absolute;
    opacity: 0;

    &[disabled] {
        cursor: not-allowed;

        + label {
            opacity: 0.5;

            &::before,
            &::after {
                opacity: 0.5;
            }

            &:hover {
                cursor: not-allowed;
            }
        }
    }

    + label {
        flex-direction: row-reverse;
        justify-content: space-between;

        &::before,
        &::after {
            content: '';
            border: none;
        }

        &::before {
            min-width: $switch-width;
            flex-basis: $switch-width;
            height: $switch-height;
            background: getColor('grey-disabled');
            border-radius: $radius * 4;
            margin-right: 0;
            margin-left: $switch-margin;
        }

        &::after {
            content: '\f103';
            margin-left: 0;
            margin-right: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: $paddle-width;
            height: $paddle-height;
            color: getColor('grey-disabled');
            left: auto;
            right: $switch-width - $paddle-width - $switch-paddle-offset;
            top: 50%;
            transform: translateY(-50%);
            background: getColor('background');
            transition: all 0.25s ease-out;
            border-radius: 100%;
        }
    }

    &:checked {
        + label {
            &::before {
              background: getColor('alternate');
            }

            &::after {
                right: $switch-paddle-offset;
                content: '\f102';
                color: getColor('alternate');
            }
        }
    }

    &.is-success {
        &:checked {
            + label {
                &::before {
                    background: getColor('success');
                }

                &::after {
                    color: getColor('success');
                }
            }
        }
    }

    &.is-info {
        &:checked {
            + label {
                &::before {
                    background: getColor('info');
                }

                &::after {
                    color: getColor('info');
                }
            }
        }
    }

    &.is-warning {
        &:checked {
            + label {
                &::before {
                    background: getColor('warning');
                }

                &::after {
                    color: getColor('warning');
                }
            }
        }
    }

    &.is-error {
        &:checked {
            + label {
                &::before {
                    background: getColor('error');
                }

                &::after {
                    color: getColor('error');
                }
            }
        }
    }

    &.has-slice {
        + label {
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            padding-right: $switch-width + $switch-margin;

            &::before {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 0;
            }

            &::after {
                position: absolute;
            }
        }
    }

    &.is-inverted {
        + label::before {
            background: getColor('background');
        }

        + label::after {
            background: getColor('grey-disabled');
        }

        &:checked {
            + label {
                &::before {
                    background: getColor('background');
                }

                &::after {
                    background: getColor('alternate');
                    color: getColor('background');
                }
            }
        }

        &.is-success {
            &:checked + label::after {
                background: getColor('success');
            }
        }

        &.is-info {
            &:checked + label::after {
                background: getColor('info');
            }
        }

        &.is-warning {
            &:checked + label::after {
                background: getColor('warning');
            }
        }

        &.is-error {
            &:checked + label::after {
                background: getColor('error');
            }
        }
    }
}
