.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  label {
    cursor: pointer;
    display: inline-grid;
    color: getColor('font');
    padding: $spacing-3;
    order: 1;

    &.is-inverted {
      color: getColor('background') !important;
    }

    .icon {
      justify-self: center;
    }
  }

  .tab-panels {
    display: none;
    flex-grow: 1;
    padding: $spacing-4;
    width: 100%;
    text-align: -webkit-center;

    &.is-inverted {
      color: getColor('background') !important;
    }
  }

  input[type="radio"] {
    appearance: none;

    &:checked {
      + label {
        border-bottom: 2px solid getColor('main');

        &.is-inverted {
          border-bottom: 2px solid getColor('background') !important;
        }
      }

      + label + .tab-panels {
        display: block;
        order: 99;
      }
    }

    &:checked:focus-visible {
      + label {
        outline: 2px solid getColor('main');
      }
    }
  }
}
