.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  label {
    cursor: pointer;
    display: inline-grid;
    color: getColor('font');
    padding: 10px;
    margin-right: 0.3rem;
    order: 1;
    width: auto;

    &.is-inverted {
      color: getColor('background') !important;
    }

    .icon {
      justify-self: center;
    }
  }

  .tab-panels {
    display: none;
    flex-grow: 1;
    padding: 1rem;
    width: 100%;
    text-align: -webkit-center;

    &.is-inverted {
      color: getColor('background') !important;
    }
  }

  input[type=radio]:checked:focus-visible+label {
    outline: 2px solid getColor('main');
  }

  input[type="radio"] {
    appearance: none;

    &:checked + label {
      border-bottom: 2px solid getColor('main');

      &.is-inverted {
        border-bottom: 2px solid getColor('background') !important;
      }
    }

    &:checked + label + .tab-panels {
      display: block;
      order: 99;
    }
  }
}
