.tabs {
  @include overflow-touch;
  @include unselectable;

  align-items: stretch;
  justify-content: space-between;
  font-weight: $weight-normal;
  width: 100%;
  text-align: center;
  overflow: scroll;
  overflow: -moz-scrollbars-none !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none;

  @include mobile {
    text-align: left;
  }

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  &.is-inverted {
    background-color: getColor('font');

    .tab-list > .tab {
      color: getColor('background') !important;

      &.is-active {
        border-bottom-color: currentColor;
      }

      #{$hoverSelector} {
        color: getColor('background') !important;
        cursor: pointer;
      }

      &:focus-visible {
        border-color: getColor('background');
      }

    }
  }

  &:has(.tab-list.is-aligned-start) {
    text-align: left;
  }

  &:has(.tab-list.is-aligned-end) {
    text-align: right;
  }

  .tab-list {
    background-color: transparent;
    height: 48px;
    overflow-x: auto;
    white-space: nowrap;
    display: inline-flex;

    &.is-fullwidth {
      @include desktop {
        > * {
          flex-grow: 1;
          flex-shrink: 0;
        }
      }
    }

    &.is-clipped {
      box-shadow: none;
    }

    @include mobile {
      justify-content: flex-start;
      > .tab:first-child {
        margin-left: 24px;
      }
    }

    &:has(.tab .icon) {
      height: 64px;
    }

    > .tab {
      height: calc(100% - 4px);
      background-color: transparent;
      color: getColor('font');
      text-decoration: none;
      outline: none;
      padding: 6px 14px;
      font-size: $text-14;
      @include desktop {
        font-size: $text-16;
      }
      border: 0px solid transparent;
      border-bottom: 2px solid transparent;

      .tab-icon {
        margin-top: 2px;
      }

      &:not(button) {
        .tab-icon {
          margin-top: 4px;
        }
      }

      @include mobile {
        font-size: $text-14;
      }

      &.is-active {
        color: getColor('main');
        position: relative;
        border-bottom-color: getColor('main');
        font-weight: $weight-medium;
      }

      &:hover:not(.is-disabled) {
        color: getColor('main');
        border-bottom-color: currentColor;
        cursor: pointer;

        .icon.is-small [class^=tri-]::before, .icon.is-small [class*=" tri-"]::before {
          font-size: 22px !important;
          background-color: currentColor;
        }
      }

      &:focus-visible {
        border-color: currentColor;
        color: getColor('main');
      }

      .icon {
        height: 0;
      }

      .icon.is-small, .icon.is-small {
        font-size: 22px;
      }

      &[disabled], &[aria-disabled=true] {
        background-color: transparent !important;
        border-bottom-color: transparent !important;
        &.is-active{
          border-bottom-color: currentColor !important;
        }
      }

    }
  }

  .tab-panels {
    padding-top: $spacing-3;
    padding-bottom: $spacing-3;

    .tab-panel {
      transition: opacity 2s ease-in-out;
      transition-delay: 1s;

      &:not(.is-active) {
        display: none;
      }

      &.is-active {
        animation: fade-in 250ms;
      }

      @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}
