$tag-delete-margin: 1px !default;

// container pour multi-tags ou tags avec actions
.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  // multi-tags : ajout d'une marge à droite de chaque tag

  // centrage des tags
  &.is-centered {
    justify-content: center;
  }

  // tags avec actions
  &.has-addons {
    cursor: pointer;

    .tag {

      &:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      &:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      &:first-child {
        padding-right: 5px;
      }

      + .tag {
        padding: 0;
        position: relative;
        width: 25px;
        border-width: 0;

        // fixme : cette règle ne devrait-elle pas s'appliquer à TOUS les buttons ?
        cursor: inherit;

        // affichage d'une fausse croix avec 2 traits penchés
        &:empty {
          &::before,
          &::after {
            position: absolute;
            content: '';
            height: 10px;
            width: 2px;
            background-color: currentColor;
            top: 50%;
            left: 30%;
          }

          &::before {
            transform: translate(50%, -50%) rotate(45deg);
          }

          &::after {
            transform: translate(50%, -50%) rotate(-45deg);
          }
        }
      }
    }

    &.is-inverted {
      .tag {
        background-color: var(--bg-primary);
      }
    }

  }
}

.tag {
  align-items: center;
  background-color: var(--bg-primary-subtle);
  border-radius: 9999px;
  color: var(--text-primary);
  display: inline-flex;
  font-size: var(--body-1-size);
  font-weight: $weight-medium;
  height: 28px;
  justify-content: center;
  line-height: 20px;
  padding: var(--spacing-xxs) var(--spacing-xs);
  white-space: nowrap;

  &.is-small {
    font-size: var(--body-3-size);
    line-height: 15px;
    height: 23px;
  }


  @include mobile {
    font-size: 12px;
    line-height: 15px;
  }

  @each $name, $colors in $colors-feedback {
    &.is-#{$name}:not(.is-inverted) {
      background-color: map-get($colors, subtle);
    }
    &.is-inverted.is-#{$name} {
      color: map-get($colors, color);
      background-color: map-get($colors, inverse);
    }
  }
}
