.textarea-wrapper {

  .textarea-label {
    display: inline-block;
    margin-bottom: 6px;
  }

  .textarea-sample {
    margin-bottom: 10px !important;
  }

  textarea.textarea {
    &::placeholder, label {
      font-size: 16px;
    }
  }

  .icon {
    align-items: flex-start !important;
    padding-top: 18px !important;
  }

  // Colors
  @each $name, $pair in $colors-brand-functionnal {
    $color: getColor($name);
    $color-invert: invertColor($name);
    $brandName: getColorBrandName($name);
    &.is-#{$brandName} {
      textarea.textarea {
        border-color: $color;
      }

    }
  }

  .counter {
    position: absolute;
    bottom: $spacing-2;
    right: $spacing-4;
    font-size: 10px;
  }

  .help ~ .counter {
    bottom: $spacing-6;
  }
}
