$CIRCLE_SIZE: 172px;
$CURSOR_SIZE: 30px;

.timepicker {

  &-menu {
    position: absolute;
    left: 0;
    right: 0;
    background-color: getColor('background');
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 300px;
    max-width: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-title {
      flex:1

    }

    .flex-box {
      margin-bottom: 0px !important;
    }

    &-divider {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 90%;
      background-color: getColor('neutral');
      width: 1px;
    }
  }

  &-selector {
    overflow-y: auto;
    overflow-x: hidden,;
    padding: 8px 0px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex: 1;
    gap: 8px;
    display: flex;
    flex-direction: column;
    
    &-item {
      padding: 12px;
      border-radius: 8px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &.is-active {
        background-color: getColor('main');
        color: getColor('background');
      }

      &:hover:not(.is-active) {
        @include hoverRules();
      }
    }
  }

  div::-webkit-scrollbar {
    display: none;
  }

}