@use 'sass:math';

$title-weight: var(--font-weight-body-1-bold);
$title-high-weight: 550;
$title-line-height: 1.1;
$title-strong-color: inherit;
$title-strong-weight: inherit;
$title-sub-size: 0.5em;
$title-sup-size: 0.5em;

$subtitle-size: var(--body-1-size);
$subtitle-weight: $font-weight-medium;
$subtitle-size-tablet: var(--body-1-size);
$subtitle-line-height: 1.2;
$subtitle-strong-weight: var(--font-weight-body-1-bold);

$overline-size: var(--body-2-size);
$overline-weight: var(--font-weight-body-1-bold);
$overline-line-height: 1.2;
$overline-size-tablet: var(--body-1-size);

$title-levels: (
    (var(--size-title-1), var(--line-height-title-1), $font-family-2),
    (var(--size-title-2), var(--line-height-title-2), $font-family-2),
    (var(--size-title-3), var(--line-height-title-3), var(--font-title-1)),
    (var(--title-4-size), var(--line-height-title-4), var(--font-title-1)),
    (var(--size-title-5), var(--line-height-title-5), var(--font-title-1)),
    (var(--size-title-6), var(--line-height-title-6), var(--font-title-1))
);


.title,
.subtitle,
.overline {
  word-break: break-word;

  em,
  span {
    font-weight: inherit;
  }

  .tag {
    vertical-align: middle;
  }
}

.title {
  font-size: var(--title-1-size);
  font-weight: var(--font-weight-body-1-bold);
  line-height: var(--line-height-title-1);

  // new typography
  @each $title-level in $title-levels {
    $i: index($title-levels, $title-level);
    $font-size: nth($title-level, 1);
    $line-height: nth($title-level, 2);
    $font-family: nth($title-level, 3);

    // // Avoid Safari font weight issues
    // &.is-level-1 {
    //   font-weight: $title-high-weight;
    // }

    // &.is-level-2 {
    //   font-weight: $title-high-weight;
    // }

    &.is-level-#{$i} {
      font-size: $font-size;
      line-height: $line-height;
      font-family: $font-family;
    }

    &.is-medium {
      font-weight: $font-weight-medium;
    }

    &.is-inverted {
      color: var(--text-inverse);
    }

    .details {
      font-size: 80%;
      color: var(--text-disabled);
      font-weight: var(--font-weight-body-1);
    }

    &.is-section-title {
      text-align: center;
    }

    @include tablet {
      font-size: 40px;
    }

    sup {
      top: -0.5em;
      font-size: $title-sup-size;
    }

    sub {
      bottom: -0.5em;
      font-size: $title-sub-size;
    }

    &.is-centered {
      text-align: center;
    }
  }
}

.subtitle {
  color: var(--text-primary);
  font-size: $subtitle-size;
  font-weight: $subtitle-weight;
  line-height: $subtitle-line-height;

  &.is-inverted {
    color: var(--text-inverse);
  }
}

.overline {
  color: var(--text-primary);
  font-size: $overline-size;
  font-weight: $overline-weight;
  line-height: $overline-line-height;

  &.is-inverted {
    color: var(--text-inverse);
  }
}
