:root {
    --border-style: #{$border-width-100} solid var(--border);
    --border-active: var(--border-width-sm) solid var(--border-selected);
}
$sizes: $font-size-800 $font-size-800 $font-size-600 $font-size-400 $font-size-300 $font-size-100 $font-size-50 $font-size-25;$hoverSelector: "&:hover:not([disabled]):not([aria-disabled=true])";
$arrow-size: 15px;