@function getColor( $name ) {
    @return var(--color-#{nth(map-get($colors,$name),2)});
}

@function getColorValue( $name ) {
  @return #{nth(map-get($colors,$name),1)}
}

@function getColorBrandName( $name ) {
  @return #{nth(map-get($colors,$name),2)}
}

@function invertColor ($colorName) {
  @return var(--color-#{nth(map-get($colors,$colorName),3)})
}

@function fadeColor ($colorName) {
  $name: map-get($fade-colors,$colorName);
  @return getColor($name);
}

@function encodecolor($string) {
  @if type-of($string) == 'string' and str-index($string, '#') == 1 {
    @return '%23' + str-slice( $string, 2);
  }

  @if type-of($string) == 'color' and str-index(#{$string}, '#') == 1 {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote('#{$hex}');
    @return '%23' + $string;
  }

  @return $string;
}


@function colorLuminance($color) {
    $color-rgb: ("red": red($color), "green": green($color), "blue": blue($color));

    @each $name, $value in $color-rgb {
        $adjusted: 0;
        $value: math.div($value, 255);

        @if $value < 0.03928 {
            $value: math.div($value, 12.92);
        }

        @else {
            $value: math.div($value + 0.055, 1.055);
            $value: powernumber($value, 2);
        }

        $color-rgb: map-merge($color-rgb, ($name: $value));
    }

    @return map-get($color-rgb, "red") * 0.2126 + map-get($color-rgb, "green") * 0.7152 + map-get($color-rgb, "blue") * 0.0722;
}