/* @todo validate a.alert exist */
a.alert {
  cursor: pointer;
  transition: box-shadow $animation-duration;

  &:hover,
  &:active,
  &:focus {
    box-shadow: $shadow;
  }
}

.alert {
  border-radius: var(--radius-sm);
  position: relative;
  display: flex;
  align-self: flex-start;
  box-shadow: none;
  padding: var(--spacing-md);

  &.is-banner {

    text-align: center;
    border-radius: 0;
    border: none !important;

  }

  .text:first-child,
  .title:first-child {
    line-height: normal;
  }

  .title,
  .text {
    margin-bottom: 0 !important;
    padding-bottom: var(--spacing-xxs);
  }

  .text:last-child {
    padding-bottom: 0 !important;
  }

  &-icon {
    padding: 0;
  }

  @include mobile {
    flex-wrap: wrap;
  }

  strong {
    color: currentColor;
  }

  @each $name, $colors in $colors-feedback {
    &.is-#{$name} {
      background-color: map-get($colors, subtle);
      border: 1px solid map-get($colors, color);

      .alert-icon {
        color: map-get($colors, color);
      }
    }
  }

  > .icon {
    flex: none;
    align-self: flex-start;

    [class^='tri-'],
    [class*=' tri-'] {
      font-size: 20px;
    }
  }

  > .body {
    align-self: center;
    margin-bottom: 0;
    flex-grow: 1;
    padding: 1px var(--spacing-xs); /* Fixes flex behavior on Safari mobile */

    @include mobile {
      flex: 1;
    }
  }

  .text,
  .paragraph {
    font-size: var(--body-2-size);
    text-align: left;
  }

}
