@use "../utilities/initial-variables";
@use "color";
@use "generic";
@use "reset";

html {
    @extend .html-wrap;
}

body {
    @extend .main-wrap;
    @extend .body-wrap;
    @extend .reset-wrap;
    font-family: initial-variables.$family-sans-serif;
}

header {
    @extend .header;
}

/**
To be used when standalone namespaced builds are used
*/
.trilogy-root {
    text-size-adjust: 100%;
    font-family: generic.$body-family;
    box-sizing: border-box;
    color: color.getColor('font');
    font-size: 10px;
    font-weight: generic.$body-weight;
    line-height: generic.$body-line-height;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: generic.$body-rendering;

    > * {
        font-size: initial-variables.$text-16;
    }
}
