html {
    @extend .html-wrap;
}

body {
    @extend .main-wrap;
    @extend .body-wrap;
    @extend .reset-wrap;
    font-family: $font-family-1;
}

header {
    @extend .header;
}

/**
To be used when standalone namespaced builds are used
*/
.trilogy-root {
    text-size-adjust: 100%;
    font-family: $body-family;
    box-sizing: border-box;
    color: var(--text-primary);
    font-size: 10px;
    font-weight: var(--font-weight-body-1);
    line-height: $body-line-height;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: $body-rendering;

    > * {
        font-size: var(--body-1-size);
    }
}
