$control-border-width: 1px !default;

$control-padding-vertical: calc(0.375em - #{$control-border-width}) !default;
$control-padding-horizontal: 16px;

@mixin control {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: $control-border-width solid transparent;
  border-radius: var(--radius-small);
  display: inline-flex;
  font-size: $size-normal;
  height: 46px;
  justify-content: flex-start;
  line-height: 1.4;
  padding-bottom: $control-padding-vertical;
  padding-left: $control-padding-horizontal;
  padding-right: $control-padding-horizontal;
  padding-top: $control-padding-vertical;
  position: relative;
  vertical-align: top;

  // bug fix pour iOS qui zoom sur le champ si la police ne fait pas 16px
  @supports (-webkit-overflow-scrolling: touch) {
    font-size: $text-16;
  }

  &:focus,
  &:active {
    outline: none;

    // répétition nécessaire : bug fix pour iOS qui zoom sur le champ si la police ne fait pas 16px
    @supports (-webkit-overflow-scrolling: touch) {
      font-size: $text-16;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }

}

@mixin control-small {
  border-radius: var(--radius-small);
  font-size: $size-small;
}

@mixin control-medium {
  font-size: $size-medium;
}

@mixin control-large {
  font-size: $size-large;
}
