$gap: 4px,
8px,
12px,
16px,
24px,
32px,
40px,
48px,
54px,
62px;


.rows {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-self: stretch;
  height: 100%;
  gap: 24px;

  @include mobile {
    gap: 16px;
  }

  @for $i from 1 through length($gap) {
    $item: nth($gap, $i);
    &.has-gap-#{$i} {
      gap: $item;
    }
  }

  &.is-aligned-end {
    justify-content: flex-end;
  }

  &.is-gapless {
    gap: 0;
  }

  .is-divider {
    margin-top: 0;
    margin-bottom: 0;
  }

  .row {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;

    &.is-narrow {
      flex-grow: 0;
    }
  }
}
