.is-inverted {
  color: getColor('background');
}

.is-inverted .box:not(.is-inverted),
.is-inverted .section:not(.is-inverted),
.is-inverted .container:not(.is-inverted),
.is-inverted .view:not(.is-inverted), {
  color: getColor('font');
}

.has-background {
  background-repeat: no-repeat;

  .box-content {
    background-color: transparent;
  }
}
