.is-inverted {
  color: getColor('background');
}

.is-inverted .is-base {
  color: getColor('font');
}

.has-background {
  background-repeat: no-repeat;
  
  .box-content {
    background-color: transparent;
  }
}
