@import './initial-variables';

// Gestion des tailles de police
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8;
$sizes-desktop: $size-1-desktop $size-2-desktop $size-3-desktop $size-4-desktop $size-5-desktop $size-6-desktop $size-7-desktop $size-8-desktop;
$sizes-fluid: (
    ($size-1, $size-1-desktop),
    ($size-2, $size-2-desktop),
    ($size-3, $size-3-desktop),
    ($size-4, $size-4-desktop),
    ($size-5, $size-5-desktop),
    ($size-6, $size-6-desktop),
    ($size-7, $size-7-desktop),
    ($size-8, $size-8-desktop)
);
$sizes-desktop-interim: $size-7-desktop $size-6-desktop $size-5-desktop $size-4-desktop $size-3-desktop $size-2-desktop $size-1-desktop;
$sizes-fluid-interim: (
    ($size-7, $size-7-desktop),
    ($size-6, $size-6-desktop),
    ($size-5, $size-5-desktop),
    ($size-4, $size-4-desktop),
    ($size-3, $size-3-desktop),
    ($size-2, $size-2-desktop),
    ($size-1, $size-1-desktop)
);

// Gestion des déclinaisons de tailles utilisables par les composants (préfixées par is-)
$dimensions-extended: 'xsmall' 'small' 'medium' 'large' 'xlarge';

$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$focus-shadow: 0 1px 3px 0 rgba(69, 69, 69, 0.15),
0 2px 20px -3px rgba(69, 69, 69, 0.3);

$box-padding-mobile: 15px !default;
$box-padding: 12.5px !default;
$column-gap-mobile: 8px !default;
$column-gap-tablet-desktop: 12px !default;
$row-gap-mobile: 8px !default;
$row-gap-tablet-desktop: 12px !default;

$control-border-width: 1px !default;
