@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$suffix: '';

/*
 All color variables are defined here
 @string slug name used in classname (You can use your brand name)
 @color A valid css color value
 @invert The slug name of the best inverted color
 @hover A valid css color value (a variant color for the hover case)
 @visited A valid css color value (a variant color for the pressed case) -- optional
 @background A valid css color value (a variant color for background) -- optional
 */
$colors: (
  'background': ['white', #fff, 'main', #E9E9E9],
  'main':['main', #3d5d7e, 'white', #eff2f8],
  'alternate':['accent', #da641b, 'white',  #bb5118],
  'font':['main', #3d5d7e, 'white', #BBC6CD],
  'success':['success', #007B52, 'white', #cae8ca],
  'info':['info', #1A688A, 'white', #c8dbec],
  'warning':['warning', #FFBB33, 'white', #ecdbc6],
  'error':['error', #D42D02, 'white',#eecccc],
  /* Grey disabled // BG : bg-disabled */
  'disabled':['disabled', #646464, 'white', #D1D1D1],
  'hovered': ['hovered', #24374a, 'font',#e4eaed],
  /* grey , BG : grey-lighter */
  'neutral':['grey', #707070, 'white', #F4F4F4 ],
  /* grey dark , BG : grey-light */
  'neutral-dark':['grey-dark', #646464, 'white', #E9E9E9 ]
) !default;

/*
Colors for buttons
  @string slug name used in classname (You can use your brand name)
  @color-background The name of the color in the color map for the background
  @color-text The name of the color in the color map for the text
  @effect-hover A valid css filter value or null (brightness(0.8) by default)
  @effect-active A valid css filter value or null (brightness(0.7) by default)
  */
$btn-colors: (
  'accent':['accent', 'alternate', 'background', null, null],
  'primary': ['primary', 'main', 'background', brightness(0.8), brightness(0.7)],
  'secondary': ['secondary', 'bg-main', 'main', brightness(0.8), brightness(0.7)],
  'ghost': ['ghost', 'background', 'main', brightness(0.8), brightness(0.7)],
) !default;


$hoverSelector: "&:hover:not([disabled]),&:hover:not([aria-disabled=true])";


// Typography OS-regular
$family-sans-serif: 'Poppins Read', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$family-serif: 'Poppins Speak', 'Poppins', 'Arial Black', 'Arial Bold', serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

$font-ratio: 1 !default;
$font-convert-to-px: false !default;

$text-8: 8px !default;
$text-9: 9px !default;
$text-10: 10px !default;
$text-11: 11px !default;
$text-12: 12px !default;
$text-13: 13px !default;
$text-14: 14px !default;
$text-15: 15px !default;
$text-16: 16px !default;
$text-17: 17px !default;
$text-18: 18px !default;
$text-19: 19px !default;
$text-20: 20px !default;
$text-22: 22px !default;
$text-24: 24px !default;
$text-26: 26px !default;
$text-27: 27px !default;
$text-28: 28px !default;
$text-29: 29px !default;
$text-32: 32px !default;
$text-34: 34px !default;
$text-35: 35px !default;
$text-36: 36px !default;
$text-38: 38px !default;
$text-39: 39px !default;
$text-40: 40px !default;
$text-42: 42px !default;
$text-44: 44px !default;
$text-46: 46px !default;
$text-48: 48px !default;
$text-50: 50px !default;
$text-54: 54px !default;
$text-56: 56px !default;
$text-58: 58px !default;
$text-60: 60px !default;
$text-64: 64px !default;
$text-80: 80px !default;


$size-1: $text-32;
$size-2: $text-28;
$size-3: $text-24;
$size-4: $text-20;
$size-5: $text-18;
$size-6: 14px !default;
$size-7: $text-12;
$size-8: $text-11;

$size-1-desktop: $text-48;
$size-2-desktop: $text-38;
$size-3-desktop: $text-28;
$size-4-desktop: $text-24;
$size-5-desktop: $text-18;
$size-6-desktop: 14px !default;
$size-7-desktop: $text-12;
$size-8-desktop: $text-11;

$weight-extrathin: 400 !default;
$weight-thin: 400 !default;
$weight-light: 400 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 600 !default;
$weight-extrabold: 600 !default;
$weight-black: 600 !default;

// Responsiveness
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 20px !default;

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 768px !default;

// 960px container + 3rem
//$desktop: 960px + 2 * $gap !default;
$desktop: 984px + 2 * $gap !default;

// 1152px container + 3rem
$widescreen: 1200px + 2 * $gap !default;
$widescreen-enabled: true !default;

// 1348px container + 3rem
$fullhd: 1348px + 2 * $gap !default;
$fullhd-enabled: true !default;

// Miscellaneous
$easing: ease-out !default;
$speed: 86ms !default;

// Radius
$radius-small: 4px !default;
$radius: 8px !default;
$radius-large: 9px !default;
$radius-rounded: 6685px !default;

// Flags
$variable-columns: true !default;

// Animations
$animation-duration: 0.3s;
$animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

// Logo sizes
$logo-width: 150px;
$logo-width-desktop: 200px;
