@charset "utf-8";

// You must build fonts before
// Base tools (functions)
@import "./framework/src/utilities/tools";

// Base framework
@import "./themes/default/src/utilities/pre";
@import "./framework/src/utilities/pre";

@import "./framework/src/utilities/post";
@import "./themes/default/src/utilities/post";

/* All Base Without reset */
$body-background-color: #f6f6f6;
$body-size: 10px;
$body-rendering: optimizeLegibility !default;
$body-family: $family-primary !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;

@import "./framework/src/base/reset";
@import "./framework/src/base/generic";
@import "./framework/src/base/color";
@import "./framework/src/base/fonts";
@import "./framework/src/base/helpers";
@import "./framework/src/base/loading";

@import "./framework/src/elements/all";

@import './framework/src/components/divider';
@import './framework/src/components/breadcrumb';
@import './framework/src/components/card';
@import './framework/src/components/level';
@import './framework/src/components/modal';
@import './framework/src/components/pagination';
@import './framework/src/components/popover';
@import './framework/src/components/product-tour';
@import './framework/src/components/price';
@import './framework/src/components/tabs';
@import './framework/src/components/accordion';
@import './framework/src/components/countdown';
@import './framework/src/components/timeline';
@import './framework/src/components/stepper';
@import './framework/src/components/plus-symbol';
@import './framework/src/components/otp';
@import './framework/src/components/segmented-control';
@import './framework/src/components/progress-radial';
@import './framework/src/components/range';
@import './framework/src/components/scroll-view';
@import './framework/src/components/fab';

@import "./framework/src/grid/all";
@import "./framework/src/layout/all";

// Icons
@import "../../assets/icons/all";

// Assets and theme (common + default)
@import "./themes/default/src/_all";

.partial {
  @extend .main-wrap;
  @extend .reset-wrap;
}
